<grid [direction]="'column'" [template]="'1fr max-content'">
    <grid [gap]="[16,16]" [direction]="'row'">
        <grid [gap]="[16,16]" [direction]="isMobileOrTablet ? 'row':'column'" [align]="'top-left'" height="fit-content">
            <grid [direction]="'row'" [gap]="[8,8]">
                <span class="fw-600 f-01"
                    [ngClass]="{'f-20 f-lh-20': isMobileOrTablet, 'f-24 f-lh-24': !isMobileOrTablet}">
                    Order: {{order?.id}}
                </span>
                <span class="f-14 fw-400 f-02 f-lh-14">
                    {{order!.orderDate | dateFormat: 'MMMM DD, yyyy [at] hh:mm A'}}
                </span>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <status-badge [label]="order?.status" [statusId]="order?.statusId" [type]="'order'" />
            </grid>
        </grid>

    </grid>

    <grid *ngIf="edition === false" [direction]="'column'" [align]="'center-right'">
        <button *ngIf="isMobile === false" (click)="saveOrder()" tuiButton [appearance]="'primary'" [size]="'m'"
            [disabled]="canSave === false">
            Save Order
        </button>
        <button *ngIf="isMobile === true" (click)="saveOrder()" tuiButton tuiRoundButton tuiIconButton
            [appearance]="'primary'" [size]="'m'" [disabled]="canSave === false">
            <tui-icon icon="@tui.check" class="f-18 fw-600 f-white" />
        </button>
    </grid>

    <grid *ngIf="edition === true" [direction]="'column'" [align]="'center-right'">
        <grid *ngIf="isMobile === false" [direction]="'column'" [template]="'1fr'" height="100%">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button tuiButton [appearance]="'secondary'" [size]="'m'">
                    <span class="f-14">Print</span>
                </button>
                <button tuiButton appearance="outline" tuiChevron type="button" [size]="'m'" [tuiDropdown]="moreOptions"
                    [tuiDropdownMaxHeight]="500" [(tuiDropdownOpen)]="showMoreOptions">
                    <grid [direction]="'column'" [template]="'1fr'">
                        <span class="f-13 fw-600 f-lh-13 t-left">More actions </span>
                    </grid>
                </button>
            </grid>
        </grid>
        <grid *ngIf="isMobile" [direction]="'column'" [template]="'1fr'" height="100%">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button tuiButton [appearance]="'outline'" [size]="'m'">
                    <tui-icon icon="@tui.printer" class="f-18 fw-600 f-02" />
                </button>
                <button tuiButton tuiRoundButton tuiIconButton [appearance]="'secondary'" [size]="'m'"
                    [tuiDropdown]="moreOptions" [tuiDropdownMaxHeight]="500" [(tuiDropdownOpen)]="showMoreOptions">
                    <tui-icon icon="@tui.ellipsis" class="f-18 fw-600 f-02" />
                </button>
            </grid>
        </grid>
    </grid>
</grid>

<ng-template #moreOptions>
    <tui-data-list [style.width.rem]="12" [size]="'m'">
        <tui-opt-group>
            <tui-opt-group>
                <button *ngFor="let option of actionTypes" tuiOption type="button" [value]="option">
                    <span class="f-13 fw-600 f-lh-13 f-02">{{ option.name }}</span>
                </button>
            </tui-opt-group>
        </tui-opt-group>
    </tui-data-list>
</ng-template>