<layout>
    <grid [gap]="[32,16]" [direction]="'row'" [template]="'max-content max-content'"
        [padding]="isMobile ? '1.5rem 1rem':'1.5rem'" height="100%">
        <customers-header />
        <grid [gap]="[24,24]" [direction]="'column'"
            [template]="isMobileOrTablet ? '1fr': isLargeDesktop? '1fr minmax(650px, 0.25fr)': '1fr 350px'"
            height="fit-content">
            <grid [direction]="'row'" [gap]="[24,24]">
                <customers-summary [edition]="true" />
                <customers-notes [edition]="true" />
            </grid>
            <grid [direction]="'row'" [gap]="[24,24]">
                <customers-address #delivery [edition]="true" />
            </grid>
        </grid>
    </grid>
</layout>