:host{
    position: relative;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    border: none;
    top: 2px;
}

.dropdown-component {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    width: fit-content;
    background-color: var(--background-02);
    border-radius: 6px;
    box-shadow: var(--shadow-03);
    animation: fadeIn 0.2s ease-in;
    z-index: 10000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}