tui-accordion-item {
    border: 1px solid var(--border) !important;
    border-radius: 6px !important;

    &[data-size="s"]>.t-wrapper>button {
        min-block-size: var(--tui-height-s) !important;
        padding: 0.15rem 0.75rem 0.125rem 0.75rem !important;
        height: 32px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .t-wrapper>button>tui-icon {
        color: var(--text-05) !important;
    }

    .t-wrapper:hover>button {
        background-color: var(--background-04) !important;
    }

    tui-expand>div>div {
        padding: 0.5rem 0.75rem 1rem 0.75rem !important;
    }
}