tui-badge-notification[badgeStatus="primary"] {
    background-color: var(--primary) !important;
}

tui-badge-notification[badgeStatus="secondary"] {
    background-color: var(--secondary) !important;
}

tui-badge-notification[badgeStatus="success"] {
    background-color: var(--success) !important;
}

tui-badge-notification[badgeStatus="warning"] {
    background-color: var(--warning) !important;
}

tui-badge-notification[badgeStatus="error"] {
    background-color: var(--error) !important;
}

tui-badge-notification[badgeStatus="info"] {
    background-color: var(--info) !important;
}

tui-badge-notification[data-size=s] {
    padding: 0 .25rem !important;
}

tui-badge,
[tuiBadge] {
    height: 1.25rem !important;
    padding: 2px 0.75rem !important;
    border-radius: 0.375rem !important;

    &[data-appearance=warning] {
        background-color: var(--warning-hsl) !important;
        border: none !important;
        color: var(--warning) !important;
        box-shadow: 0 0 0 0.025rem var(--warning) !important;

        span {
            color: var(--warning) !important;
        }
    }

    &[data-appearance=error] {
        border: none !important;
        box-shadow: 0 0 0 0.045rem var(--error) !important;
        border: none !important;

        span {
            color: var(--error) !important;
        }
    }

    &[data-appearance=success] {
        background-color: var(--success-hsl) !important;
        box-shadow: 0 0 0 0.045rem var(--success) !important;
        border: none !important;

        span {
            color: var(--success) !important;
        }
    }

    &[data-appearance=info] {
        background-color: var(--info-hsl) !important;
        box-shadow: 0 0 0 0.045rem var(--info) !important;
        border: none !important;

        span {
            color: var(--info) !important;
        }
    }

    &[data-size=l]>span {
        padding-top: 0.12rem !important;
    }
}
