[tuiButton],
[tuiIconButton] {
    font-weight: 500 !important;
}

[tuiButton][tuiRoundButton] {
    border-radius: 50% !important;
}

[tuiButton][tuiRoundedButton] {
    border-radius: 1rem !important;
}

[tuiIcons]:after {
    color: var(--primary) !important;
}

[tuiButton][data-size=m] {
    font-size: 14px !important;
}

[tuiButton]:not([tuiIcon]):not([tuiIconButton]) {
    padding-top: 4px !important;
    font-family: var(--font) !important;
}

[tuiButton][data-size=m]:not([tuiIcon]):not([tuiIconButton]) {
    height: 2.35rem !important;
}

//yes are icons
[tuiButton][data-size="m"][tuiIconButton] {
    height: 2.5rem !important;
    width: 2.5rem !important;
}