tui-line-clamp-box {
    background: var(--background-01) !important;
    border: 1px solid var(--border) !important;
    font-size: 13px !important;
    border-radius: 8px !important;
    line-height: 15px !important;
}