tui-textfield[tuiInputRound] {
    border-radius: 2rem !important;
}

textarea.t-input {
    font-size: 14.495px !important;
    color: #0000004b !important;
}

tui-textfield[tuiIcons]:before {
    font-size: 18px !important;
    margin-left: 2px !important;
}

tui-textfield[iconstart] input{
    padding-top: 0.525rem !important;
}

.t-input.t-input_template {
    padding-top: 0.525rem !important;
}


tui-primitive-textfield.t-textfield[data-size=m] {
    font: var(--tui-font-text-m) ! important;
}

tui-primitive-textfield.t-textfield[data-size=l] {
    font: var(--tui-font-text-l) ! important;
}

[tuiwrapper] input.t-input[data-size="m"],
tui-primitive-textfield[data-size="m"] [tuiwrapper] input.t-input {
    padding: 1.65rem var(--tui-padding-m) !important;
}

[tuiwrapper] input.t-input[data-size="s"],
tui-primitive-textfield[data-size="s"] [tuiwrapper] input.t-input {
    padding: 1.15rem var(--tui-padding-m) !important;
}