tui-segmented[data-size] {
    border-radius: 2rem !important;
}

tui-badge-notification[badgeStatus="primary"] {
    background-color: var(--primary) !important;
}

tui-badge-notification[badgeStatus="secondary"] {
    background-color: var(--secondary) !important;
}