<grid [gap]="[0,16]" [direction]="'column'" [align]="'center-left'">
    <span class="f-14 fw-500 f-lh-13 f-08">|</span>
    <grid [gap]="[0,16]" [direction]="'column'" [align]="'center-left'">
        <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
            <span class="material-symbols-outlined f-20 f-lh-13 f-08 fill-icon">
                business_center
            </span>
            <span class="f-14 fw-500 f-lh-13 f-02">
                {{facade.organizationName}}
            </span>
        </grid>
        <status-badge [appearance]="'warning'" [label]="'Gratuito'"></status-badge>
    </grid>
    <span class="f-14 fw-500 f-lh-13 f-08">|</span>
    <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
        <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
            <span class="material-symbols-outlined f-22 f-lh-13 f-08 fill-icon">
                fmd_bad
            </span>
            <span class="f-14 fw-500 f-lh-13 f-02">
                {{facade.defaultLocation}}
            </span>
        </grid>
        <button outline xsmall icon nz-dropdown nzTrigger="click" [nzDropdownMenu]="dropdown">
            <tui-icon icon="@tui.chevrons-up-down" class="f-14 f-lh-13 f-08" />
        </button>
        <nz-dropdown-menu #dropdown="nzDropdownMenu">
            <grid [gap]="[8,8]" [direction]="'row'" [padding]="'0.5rem'" [width]="'200px'"
                class="bg-02 brdr-radius-6 shadow-01">
                <span class="f-12 f-05 fw-300 t-left" padding="0.5rem 0.5rem 0 0.5rem">
                    Sucursales
                </span>
                <grid [direction]="'row'" [gap]="[1,1]">
                    <button flat small flex *ngFor="let location of facade.apiLocations.locations.value"
                        (click)="facade.onLocationClick(location)" [width]="'100%'"
                        [disabled]="location.id === facade.currentLocationId" class="f-13 f-02 fw-400 t-left">
                        {{ location.Name }}
                        <tui-icon icon="@tui.check" class="f-12 f-lh-13 f-primary fill-icon"
                            *ngIf="location.id === facade.currentLocationId" />
                    </button>
                </grid>
            </grid>
        </nz-dropdown-menu>
    </grid>

</grid>