<grid [gap]="[0,12]" [direction]="'column'" [align]="'center-left'">
    <span class="f-14 fw-500 f-lh-13 f-08">/</span>
    <grid [gap]="[0,6]" [direction]="'column'" [align]="'center-left'">
        <tui-icon icon="@tui.box" class="f-16 f-lh-13 f-08" />
        <span class="f-14 fw-500 f-lh-13 f-02">
            Brikerr Lavandería
        </span>
        <!-- <button flat small icon>
            <tui-icon icon="@tui.chevrons-up-down" class="f-14 f-lh-13 f-08" />
        </button> -->
    </grid>
    <span class="f-14 fw-500 f-lh-13 f-08">/</span>
    <grid [gap]="[0,6]" [direction]="'column'" [align]="'center-left'">
        <tui-icon icon="@tui.map-pin" class="f-16 f-lh-13 f-08" />
        <span class="f-14 fw-500 f-lh-13 f-02">
            Clavería
        </span>
        <button flat small icon>
            <tui-icon icon="@tui.chevrons-up-down" class="f-14 f-lh-13 f-08" />
        </button>
    </grid>

</grid>