<grid [gap]="[0,16]" [direction]="'column'" [align]="'center-left'">
    <ng-container *ngIf="isMobileOrTablet === false">
        <span class="f-14 fw-500 f-lh-13 f-08">|</span>
        <grid [gap]="[0,16]" [direction]="'column'" [align]="'center-left'">
            <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                <span class="material-symbols-outlined f-20 f-lh-13 f-08 fill-icon">
                    business_center
                </span>
                <span class="fw-500 f-02 {{isMobileOrTablet ? 'f-18 f-lh-21' : 'f-14 f-lh-17'}}">
                    {{facade.organizationName}}
                </span>
            </grid>
            <status-badge [appearance]="'warning'" [label]="'Gratuito'"></status-badge>
        </grid>
        <span class="f-14 fw-500 f-lh-13 f-08">|</span>
    </ng-container>

    <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
        <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
            <span class="material-symbols-outlined f-22 f-lh-13 f-08 fill-icon">
                fmd_bad
            </span>
            <span class="f-14 fw-500 f-lh-13 f-02">
                {{facade.defaultLocation}}
            </span>
        </grid>
        <button outline xsmall icon nz-dropdown nzTrigger="click" [nzDropdownMenu]="dropdown"
            [disabled]="!facade.canChangeLocation">
            <tui-icon icon="@tui.chevrons-up-down" class="f-14 f-lh-13 f-08" />
        </button>
        <nz-dropdown-menu #dropdown="nzDropdownMenu">
            <grid [gap]="[8,8]" [direction]="'row'" [padding]="'0.5rem'" [width]="'200px'" [maxHeight]="'300px'"
                class="bg-02 brdr-radius-6 shadow-01 scroll-v brdr">
                <span class="f-11 f-07 fw-400 t-left" padding="0.5rem 0.5rem 0 0.5rem">
                    SUCURSALES
                </span>
                <grid [direction]="'row'" [gap]="[1,1]">
                    <button flat small flex *ngFor="let location of facade.apiLocations.locations.value"
                        (click)="facade.onLocationClick(location)" [width]="'100%'"
                        [disabled]="location.id === facade.currentLocationId" class="f-13 f-02 fw-400 t-left">
                        {{ location.Name }}
                        <tui-icon icon="@tui.check" class="f-12 f-lh-13 f-primary fill-icon"
                            *ngIf="location.id === facade.currentLocationId" />
                    </button>
                </grid>
            </grid>
        </nz-dropdown-menu>
    </grid>

</grid>