<tui-accordion-item class="container" [open]="true" [size]="'s'">
    <span class="f-14 fw-500 f-06 f-lh-12">Resumen de cliente</span>

    <ng-template tuiAccordionItemContent>
        <form [formGroup]="facade.formGroup">
            <grid [direction]="'row'" [gap]="[8,8]">
                <grid [gap]="[8,16]" [direction]="'column'" [template]="'1fr 1fr'">
                    <form-input [label]="'Nombre(s)'" [type]="'text'" [placeholder]="'Nombre(s)'"
                        formControlName="firstName" [required]="true" />
                    <form-input [label]="'Apellido(s)'" [type]="'text'" [placeholder]="'Apellido(s)'"
                        formControlName="lastName" [required]="true" />
                </grid>
                <grid [gap]="[8,16]" [direction]="'column'" [template]="'1fr 1fr'">
                    <form-input [label]="'Correo electrónico'" [type]="'email'" [placeholder]="'Correo electrónico'"
                        formControlName="email" [required]="true" />
                    <form-input [label]="'Teléfono'" [type]="'phone'" [placeholder]="'Teléfono'" [countryCode]="'+52'"
                        formControlName="phone" />
                </grid>
                <grid [padding]="'1rem 0 0 0'">
                    <span class="f-13 f-lh-16 f-06">
                        Debes solicitar el correo electrónico y/o el número de teléfono del cliente para poder
                        notificarlo sobre cambios en su pedido.
                    </span>
                </grid>
            </grid>
        </form>
    </ng-template>
</tui-accordion-item>