<grid [direction]="'row'" [template]="'max-content 1fr'" height="100vh" class="bg-white">
    <orders-top-bar [title]="'Draft Order'" [loading]="loading" width="100vw" />

    <grid [gap]="[32,16]" [direction]="'row'" [template]="'max-content max-content'"
        [padding]="isMobile ? '1.5rem 1rem':'1.5rem'" height="100%">
        <orders-header [edition]="false" [loading]="loading" [(order)]="order" />

        <grid [gap]="[24,24]" [direction]="'column'"
            [template]="isMobileOrTablet ? '1fr': isLargeDesktop? '1fr minmax(650px, 0.25fr)': '1fr 350px'"
            height="fit-content">
            <grid [direction]="'row'" [gap]="[24,24]">
                <orders-items [edition]="true" [(order)]="order" />
                <orders-summary [edition]="true" [(order)]="order"
                    [showDeliveryFee]="delivery.isDelivery && customer.hadCustomer" />
            </grid>
            <grid [direction]="'row'" [gap]="[24,24]">
                <orders-customer #customer [edition]="true" [(order)]="order" />
                <orders-delivery #delivery [edition]="true" [(order)]="order" />
                <orders-notes [edition]="true" [(order)]="order" />
            </grid>
        </grid>
    </grid>


</grid>