<grid [direction]="'row'" [template]="'max-content 1fr'" height="100vh" class="bg-white">
    <orders-top-bar [title]="'Draft Order'" width="100vw" />

    <grid [gap]="[32,16]" [direction]="'row'" [template]="'max-content max-content'" padding="1.5rem" height="100%">
        <orders-header [edition]="false" />

        <grid [gap]="[16,24]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr': '1fr 300px'"
            height="fit-content">
            <grid [direction]="'row'" [gap]="[16,16]">
                <orders-items [edition]="true" />
                <orders-summary />
            </grid>
            <grid [direction]="'row'" [gap]="[16,16]">
                <orders-customer />
                <orders-delivery [edition]="true" />
                <orders-notes [edition]="true" />
            </grid>
        </grid>
    </grid>


</grid>