<grid [direction]="'column'" [template]="'1fr max-content'">
    <grid [gap]="[16,16]" [direction]="'row'">
        <grid [gap]="[16,16]" [direction]="isMobileOrTablet ? 'row':'column'" [align]="'top-left'" height="fit-content">
            <grid [direction]="'row'" [gap]="[8,8]">
                <grid [direction]="'column'" [align]="'center-left'" [gap]="[8,16]">
                    <button (click)="onBack()" outline xsmall icon>
                        <tui-icon icon="@tui.chevron-left" class="f-14 f-04" />
                    </button>
                    <span class="fw-600 f-01 f-18">
                        {{facade.edition ? '' : 'Nuevo pedido'}}
                        <label *ngIf="!busy" [ngClass]="{'skeleton': busy}">
                            {{orderName}}
                        </label>
                    </span>
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'bottom-left'" [height]="'100%'">
                        <tui-loader *ngIf="busy" />
                        <status-badge *ngIf="facade.edition === false" [label]="'Borrador'" [size]="'s'"
                            [appearance]="'warning'" />
                        <ng-container *ngIf="!busy && facade.edition === true">
                            <status-badge [label]="orderStatusName" [size]="'s'" [statusId]="order?.StatusId"
                                [type]="'order'" /> 
                            <status-badge [label]="paid ? 'Pagado' : 'Pendiente de pago'" [size]="'s'"
                                [appearance]="paid ? 'success': 'error'" />
                        </ng-container>
                    </grid>
                </grid>
                <span class="f-13 fw-400 f-06 f-lh-13">
                    {{dateCreated | dateFormat: 'DD/MM/yyyy [a las] hh:mm A' }}
                </span>
            </grid>
        </grid>

    </grid>

    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'">
        <button *ngIf="!paid" (click)="facade.openCollectPayment()" primary small [disabled]="canSave === false">
            {{saveLabelButton}}
        </button>
        <button *ngIf="canShowMoreMenu" outline small icon flex [disabled]="busy" [showLoader]="busy"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <span class="material-symbols-outlined f-20 f-lh-22 f-01 fw-400">
                more_vert
            </span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <grid [gap]="[2,8]" [direction]="'row'" [padding]="'0.5rem'" class="bg-02 brdr-radius-6 shadow-01">
                <span class="f-12 f-03 fw-300" [padding]="'0.5rem 0 0.5rem 0.5rem'">
                    Acciones
                </span>
                <button (click)="facade.openCancelOrderModal()" flat small flex [width]="'100%'" class="f-13 f-03"
                    (click)="facade.showDeleteModal = true">
                    <tui-icon icon="@tui.x" class="f-12 fw-100 f-error" />
                    Cancelar pedido
                </button>
            </grid>
        </nz-dropdown-menu>
    </grid>

</grid>

<modal-confirm [(show)]="facade.showCancelOrderModal" (onConfirm)="facade.onCancelOrder()" [confirmLabel]="'Eliminar'">
    <span title>
        Cancelar pedido
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">
        <span class="f-14 fw-600 f-01">
            ¿Estás seguro de querer cancelar el pedido - {{ orderName }}?
        </span>
        <span class="f-14 f-lh-17 fw-400 f-05">
            Al cancelar el pedido ya no formará parte
            <label class="f-error">
                de tus ventas
            </label> ni podrás volver atrás.
        </span>
    </grid>
</modal-confirm>