<tui-accordion-item class="container" [open]="true" [size]="'s'">
    <span class="f-14 fw-500 f-06 f-lh-12">Dirección</span>

    <ng-template tuiAccordionItemContent>
        <form [formGroup]="facade.formGroup">
            <grid [direction]="'row'" [gap]="[16,16]">
                <form-input [label]="'Calle'" [type]="'text'" [placeholder]="'Calle'" formControlName="street"
                    [required]="true" />
                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr 1fr'">
                    <form-input [label]="'# Exterior'" [type]="'text'" [placeholder]="'# Exterior'"
                        formControlName="externalNumber" />
                    <form-input [label]="'# Interior'" [type]="'text'" [placeholder]="'# Interior'"
                        formControlName="internalNumber" />
                </grid>
                <form-input [label]="'Colonia'" [type]="'text'" [placeholder]="'Colonia'" formControlName="neighborhood"
                    [required]="true" />
                <form-input [label]="'Municipio'" [type]="'text'" [placeholder]="'Municipio'"
                    formControlName="municipality" [required]="true" />
                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr 1fr'">
                    <form-input [label]="'Estado'" [type]="'text'" [placeholder]="'Estado'" formControlName="state"
                        [required]="true" />
                    <form-input [label]="'Código postal'" [type]="'text'" [placeholder]="'Código postal'"
                        formControlName="zipCode" [required]="true" />
                </grid>

                <form-input [label]="'País'" [type]="'text'" [placeholder]="'País'" formControlName="country"
                    [disabled]="true" />

                <grid>
                    <span class="f-13 f-07 f-lh-15">
                        You should ask for the customer's email and phone number to keep them informed about their
                        order.
                    </span>
                </grid>
            </grid>
        </form>
    </ng-template>
</tui-accordion-item>