<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Confirmar'" [confirmStyle]="'danger'"
    [width]="'416px'" (onConfirm)="confirm()" (onClose)="close()" [disableConfirm]="canSave === false">
    <span title width="100%">
        <tui-icon icon="@tui.key" class="f-18 f-01 f-warning" />&nbsp;
        Cambio de contraseña
    </span>
    <grid [gap]="[0,16]" body>
        <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" [padding]="'1rem 1.5rem'"
            class="brdr-bottom bg-00">
            <grid [gap]="[0,8]" [direction]="'row'">
                <form [formGroup]="facade.formGroupPassword">
                    <grid [direction]="'row'" [gap]="[16,16]">
                        <form-input [label]="'Contraseña'" [type]="'password'" [placeholder]="'Contraseña'"
                            [formControlName]="'password'" />
                        <form-input [label]="'Confirmar contraseña'" [type]="'password'"
                            [placeholder]="'Confirmar contraseña'" [formControlName]="'confirmPassword'" />
                        <span *ngIf="showInstructions" class="f-05 f-13">
                            La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un
                            caracter especial.
                        </span>
                        <span class="f-03 f-13 f-error" *ngIf="passwordNotMatch">
                            Las contraseñas no coinciden
                        </span>
                    </grid>
                </form>
            </grid>
        </grid>
    </grid>
</modal>