<grid [direction]="'row'" [gap]="[0,4]" [padding]="'0.125rem 0 0.5rem 0'">
    <grid [gap]="[4,8]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr' : 'max-content 1fr'">
        <status-badge *ngIf="ordersDomain.canProcessOrder(order) && isInstanceofOrderItem(item)"
            [label]="itemsDomain.statusName(item)" [appearance]="itemsDomain.statusColor(item)" [size]="'m'" />
        <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'" [width]="width"
            [padding]="isMobileOrTablet ? '0' : '0.125rem 0 0'">
            <tui-line-clamp [content]="titleClamp" [lineHeight]="18" [linesLimit]="1"
                class="f-13 fw-400 f-lh-14 t-left" />
            <ng-template #titleClamp>
                <span class="f-14 fw-600 f-01 f-lh-17 t-left">
                    {{item?.Name}}
                </span>
            </ng-template>
        </grid>
    </grid>

    <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'"
        [padding]="isMobileOrTablet ? '0.125rem 0 0 0' : '0.325rem 0 0'">
        <tui-line-clamp [content]="descriptionClamp" [lineHeight]="18" [linesLimit]="isMobileOrTablet ? 1 : 2"
            class="f-13 fw-400 f-lh-14 t-left" />
        <ng-template #descriptionClamp>
            <span class="f-06">
                {{item?.Description}}
            </span>
        </ng-template>
    </grid>
</grid>