<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Recibir pago'" [confirmStyle]="'success'"
    (onConfirm)="collectPayment()" (onClose)="close()" [disableConfirm]="!canSave">
    <span title>
        Recibir pago
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">
        <span class="f-14 fw-400 f-04">
            Selecciona el método de pago o registra el voucher.
        </span>
        <form tuiGroup [orientation]="'vertical'" class="group" [collapsed]="false" [formGroup]="formGroup">
            <label tuiBlock [tuiBlock]="'s'">
                <input formControlName="paymentMethod" tuiRadio type="radio" value="cash" size="s" />
                <grid [direction]="'row'" [gap]="[0,16]">
                    <grid [gap]="[4,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.dollar-sign" class="f-16 f-02" />
                        <span class="f-14 fw-600 f-02 f-lh-17">
                            Efectivo
                        </span>
                    </grid>
                    <span class="f-13 fw-400 f-06 f-lh-17">
                        El total de la orden de
                        <span class="fw-600">
                            {{ orderTotals?.Total ?? 0 | numeralFormat: '$0,0.00'}}
                        </span>
                        se pagará en efectivo.
                    </span>
                </grid>
            </label>
            <label tuiBlock [tuiBlock]="'s'">
                <input formControlName="paymentMethod" tuiRadio type="radio" value="card" size="s" />
                <grid [gap]="[8,8]" [direction]="'row'" [padding]="'0 0 0.5rem 0'">
                    <grid [direction]="'row'" [gap]="[0,0]">
                        <grid [gap]="[4,8]" [direction]="'column'" [align]="'center-left'">
                            <tui-icon icon="@tui.credit-card" class="f-16 f-02" />
                            <span class="f-14 fw-600 f-02 f-lh-17">
                                Tarjeta de crédito o débito
                            </span>
                        </grid>
                        <span class="f-13 fw-400 f-06 f-lh-17">
                            Registra los últimos 4 dígitos de la tarjeta o el número de autorización.
                        </span>
                    </grid>
                    <grid [direction]="'row'" [gap]="[16,16]">
                        <form-input [label]="'Número de autorización'" [type]="'text'"
                            [placeholder]="'Número de autorización'" [formControlName]="'transactionNumber'" />
                    </grid>
                </grid>
            </label>
        </form>
        <grid [direction]="'column'" [align]="'center-left'">
            <span class="f-13 fw-400 f-04 f-lh-17">
                Haz clic en el botón
                <label class=" f-success">
                    recibir pago
                </label>
                para crear la orden y cambiar el estado a
                <label class="f-success">
                    pagada
                </label>.
            </span>
        </grid>
    </grid>
</modal>