<form [formGroup]="formGroup">
    <grid [direction]="'column'" [template]="'1fr'" [padding]="isMobile? '1rem 0.5rem': '1rem'">
        <grid [direction]="'column'" [align]="'center-left'" height="100%">
            <grid [gap]="[16,16]" [direction]="'column'"
                [template]="isMobile ? '1fr max-content': 'max-content 1fr max-content'" width="100%" padding="1rem"
                class="bg-spacial brdr-r-40">
                <grid *ngIf="isMobile === false" [direction]="'column'" [align]="'center-left'" height="100%">
                    <button tuiButton appearance="flat" tuiChevron type="button" [size]="'m'"
                        [tuiDropdown]="contentCustomerTypes" [tuiDropdownMaxHeight]="500"
                        [(tuiDropdownOpen)]="customerOptionControl">
                        <grid [direction]="'column'" [template]="'1fr'">
                            <span class="f-13 fw-600 f-lh-18 t-left">All orders </span>
                            <span class="f-12 f-primary f-lh-12 t-left">Show 1-10 of 100</span>
                        </grid>
                    </button>
                </grid>
                <tui-textfield tuiInputRound iconStart="@tui.search" [tuiTextfieldSize]="'m'" width="100%">
                    <input formControlName="search"
                        [attr.placeholder]="isMobile ? 'Search': 'Enter name or order ID to search'" tuiTextfield />
                </tui-textfield>
                <grid [gap]="[4,12]" [direction]="'column'" [align]="'center-right'" height="100%">
                    <button [routerLink]="routes.OrderDraft" tuiButton tuiRoundButton tuiIconButton
                        [appearance]="'primary'" [size]="'s'">
                        <tui-icon icon="@tui.plus" class="f-18 fw-600 f-white" />
                    </button>
                    <button *ngIf="isMobile" tuiButton tuiRoundButton tuiIconButton [appearance]="'secondary'"
                        [size]="'s'">
                        <tui-icon icon="@tui.filter" class="f-18 fw-600 f-02" />
                    </button>
                    <button *ngIf="isMobile === false" tuiButton appearance="flat" tuiChevron type="button"
                        [tuiDropdown]="contentDeliveryTypes" [size]="'m'" [tuiDropdownMaxHeight]="500"
                        [(tuiDropdownOpen)]="deliveryOptionControl">
                        <grid [direction]="'column'" [template]="'1fr'">
                            <span class="f-13 fw-600 f-lh-13 t-left">All deliveries </span>
                        </grid>
                    </button>
                </grid>
            </grid>
        </grid>
    </grid>
</form>

<ng-template #contentCustomerTypes>
    <tui-data-list [style.width.rem]="12" [size]="'m'">
        <tui-opt-group tuiMultiSelectGroup [(ngModel)]="orderType">
            <tui-opt-group label="Order Status">
                <button *ngFor="let orderType of orderTypes" tuiOption type="button" [value]="orderType">
                    <span class="f-13 fw-600 f-lh-13 f-02">{{ orderType }}</span>
                </button>
            </tui-opt-group>
        </tui-opt-group>
    </tui-data-list>
</ng-template>


<ng-template #contentDeliveryTypes>
    <tui-data-list [style.width.rem]="12" [size]="'m'">
        <tui-opt-group tuiMultiSelectGroup [(ngModel)]="deliveryType">
            <tui-opt-group label="Delivery Types">
                <button *ngFor="let deliveryType of deliveryTypes" tuiOption type="button" [value]="deliveryType"
                    [tuiTextfieldSize]="'s'">
                    <span class="f-13 fw-600 f-lh-13 f-02">{{ deliveryType }}</span>
                </button>
            </tui-opt-group>
        </tui-opt-group>
    </tui-data-list>
</ng-template>