<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'var(--full-vh)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [direction]="'column'" [template]="!isMobileOrTablet ? '1fr' : '1fr max-content'"
            [padding]="isMobileOrTablet ? '0.5rem 1rem' : '1rem'">
            <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'">
                <span class="fw-500 f-01 f-20" padding="0.25rem 0 0 0">
                    Pedidos
                </span>
            </grid>
            <grid *ngIf="isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small (click)="facade.onNewOrder()">
                    Crear pedido
                </button>
            </grid>
        </grid>
        <table-filters [tableFilter]="facade.tableFilter.value" [ctaLabel]="'Crear pedido'" [columns]="facade.columns"
            [showType]="facade.showType" [defaultSortBy]="facade.tableFilter.value?.sortBy!"
            (onCtaClick)="facade.onNewOrder()" (onFiltersChange)="facade.onFiltersChange($event)"
            (columnsChange)="onColumnsChange($event)" />

        <grid [direction]="'row'" [align]="'top-left'" height="100%" [width]="'100%'"
            class="scroll-h scroll-v bg-02 baseline">
            <table [width]="isMobileOrTablet ? '900px' : '100%'">
                <thead>
                    <tr>
                        <th width="40px"> </th>
                        <ng-container *ngFor="let column of columns">
                            <th [width]="column.width" *ifColumn="{columns: columns, key: column.key}">{{column.label}}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="busy">
                        <tr>
                            <td colspan="9">
                                <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                    <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                        <tui-loader [size]="'m'" />
                                        Cargando...
                                    </grid>
                                </grid>
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="busy === false && data?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay pedidos disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="busy === false">
                        <tr hoverable *ngFor="let item of data; let i = index" (click)="facade.onOrderClick(item)">
                            <td>
                                <label nz-checkbox></label>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'OrderNumber'}">
                                {{item.OrderNumber}}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'createdAt'}">
                                {{(item.createdAt || '') | dateFormat: 'DD MMM YYYY' | capitalization }}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'OrderStatus'}">
                                <grid [direction]="'column'" [align]="'center-center'">
                                    <status-badge [label]="ordersDomain.statusName(item)" [size]="'m'"
                                        [appearance]="ordersDomain.statusColor(item)" />
                                </grid>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Customer'}">
                                <tui-line-clamp [content]="titleClamp" [lineHeight]="18" [linesLimit]="1"
                                    class="f-13 fw-400 f-lh-14 t-left" />
                                <ng-template #titleClamp>
                                    <span class="f-13 fw-400 f-01 f-lh-17 t-left">
                                        {{item.CustomerName}}
                                    </span>
                                </ng-template>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'DeliveryType'}">
                                {{deliveryDomain.deliveryTypeName(item.DeliveryType)}}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Paid'}">
                                <grid [direction]="'column'" [align]="'center-center'">
                                    <status-badge [label]="item?.PaymentStatus"
                                        [appearance]="getPaymentStatusAppearance(item)" [size]="'m'" />
                                </grid>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'ItemCount'}">
                                {{item.ItemCount| numeralFormat: '0,0'}}
                                {{item.ItemCount > 1 ? 'partidas' : 'partida'}}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Total'}">
                                {{item.Total | numeralFormat: '$0,0.00'}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

        </grid>

        <table-pagination [rowCount]="rowCount" (onChange)="facade.onTablePaginationChange($event)" />
    </grid>
</layout>