<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'calc(100vh - 49px)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [direction]="'column'" [padding]="'1rem'">
            <span class="fw-500 f-01 f-20" padding="0.25rem 0 0 0">
                Pedidos
            </span>
        </grid>

        <grid [gap]="[8,8]" [direction]="'column'" [template]="'1fr max-content'" height="100%"
            class="wrap brdr-top bg-02" padding="0.5rem 1rem">
            <grid *ngIf="!isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <nz-select ngModel="all" [width]="'150px'">
                    <nz-option nzValue="all" nzLabel="Todos los pedidos"></nz-option>
                    <nz-option nzValue="active" nzLabel="Pedidos pendientes"></nz-option>
                    <nz-option nzValue="disabled" nzLabel="Pedidos en proceso" nzDisabled></nz-option>
                    <nz-option nzValue="disabled" nzLabel="Pedidos completados" nzDisabled></nz-option>
                    <nz-option nzValue="disabled" nzLabel="Pedidos cancelados" nzDisabled></nz-option>
                    <nz-option nzValue="disabled" nzLabel="Pedidos reembolsados" nzDisabled></nz-option>
                </nz-select>
                <button outline small flex>
                    <tui-icon icon="@tui.columns-3" class="f-16 f-06" />
                    Columnas
                </button>
                <button outline small flex>
                    <tui-icon icon="@tui.corner-left-up" class="f-16 f-06" />
                    Ordenado por email
                </button>
            </grid>
            <grid *ngIf="isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <button outline small icon-google>
                    <span class="material-symbols-outlined f-20 f-02">
                        filter_list
                    </span>
                </button>
                <button outline small icon-google>
                    <span class="material-symbols-outlined f-20 f-02">
                        view_column
                    </span>
                </button>
                <button outline small icon-google>
                    <span class="material-symbols-outlined f-20 f-02">
                        flex_direction
                    </span>
                </button>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small (click)="facade.onNewOrder()">
                    Crear pedido
                </button>
            </grid>
        </grid>

        <grid [direction]="'row'" [align]="'top-left'" height="100%" [width]="'100%'"
            class="scroll-h scroll-v bg-02 baseline">
            <table [width]="isMobileOrTablet ? '1100px' : '100%'">
                <thead>
                    <tr>
                        <th width="40px"> </th>
                        <th width="90px">Order #</th>
                        <th width="100px">Fecha</th>
                        <th width="100px">Estatus</th>
                        <th>Cliente</th>
                        <th width="170px">Tipo de entrega</th>
                        <th width="90px">Pago</th>
                        <th width="100px">Partidas</th>
                        <th width="90px">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="facade.api.busy.value">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                    <tui-loader [size]="'m'" />
                                    Cargando...
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <tr *ngIf="facade.api.busy.value === false && facade.api.orders.value?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay pedidos disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="facade.api.busy.value === false">
                        <tr hoverable *ngFor="let item of facade.api.orders.value; let i = index"
                            (click)="facade.onOrderClick(item)">
                            <td>
                                <label nz-checkbox></label>
                            </td>
                            <td>{{item.OrderNumber}}</td>
                            <td>{{(item.createdAt || '') | dateFormat: 'DD MMM YYYY' | capitalization }}</td>
                            <td>
                                <grid [direction]="'column'" [align]="'center-center'">
                                    <status-badge [label]="ordersDomain.statusName(item)" [size]="'m'"
                                        [appearance]="ordersDomain.statusColor(item)" />
                                </grid>
                            </td>
                            <td>{{item.Customer?.FullName}}</td>
                            <td>
                                {{deliveryTypeName(item)}}
                            </td>
                            <td>
                                <grid [direction]="'column'" [align]="'center-center'">
                                    <status-badge [label]="item?.Paid ? 'Pagado' : 'Sin pago'"
                                        [appearance]="item?.Paid ? 'success' : 'error'" [size]="'m'" />
                                </grid>
                            </td>
                            <td>
                                {{item.ItemCount| numeralFormat: '0,0'}}
                                {{item.ItemCount > 1 ? 'partidas' : 'partida'}}
                            </td>
                            <td>{{item.Total | numeralFormat: '$0,0.00'}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

        </grid>
        <grid [direction]="'column'" [template]="'1fr max-content'" padding="0.5rem 1rem">
            <grid [direction]="'column'" [align]="'center-left'">
                <button outline small flex prefix>
                    <tui-icon icon="@tui.arrow-left" class="f-16 f-06" />
                </button>
                <button outline small flex suffix>
                    <tui-icon icon="@tui.arrow-right" class="f-16 f-06" />
                </button>
            </grid>
            <grid [direction]="'column'" [align]="'center-right'">
                <button (click)="facade.fetchOrders()" flat small flex>
                    <tui-icon icon="@tui.refresh-ccw" class="f-16 f-06" />
                    Actualizar
                </button>
            </grid>
        </grid>
    </grid>
</layout>