<tui-accordion-item class="container" [open]="true">
    <grid [gap]="[16,12]" [direction]="'column'" [align]="'center-left'">
        <span class="f-16 fw-600 f-02 f-lh-14">
            Item Summary
        </span>
        <tui-badge *ngIf="orderHaveItems" appearance="info" [size]="'m'">
            {{ itemsCount }}
        </tui-badge>
        <status-badge *ngIf="orderHaveItems && edition === false" [label]="order?.statusItems"
            [statusId]="order?.statusItemsId" [type]="'orderItems'" />
    </grid>

    <ng-template tuiAccordionItemContent>
        <grid [direction]="'row'" [gap]="[16,16]">
            <grid *ngIf="order?.orderItems && orderHaveItems" [direction]="'row'" [gap]="[16,16]">
                <ng-container *ngFor="let item of order?.orderItems">
                    <ng-container *ngIf="item.isDeliveryFee === false">
                        <ng-container *ngTemplateOutlet="rowItemTemplate; context: { item: item}">
                        </ng-container>
                    </ng-container>
                </ng-container>
            </grid>
            <grid *ngIf="order?.orderItems && orderHaveItems === false" [direction]="'row'" [gap]="[16,16]">
                <grid [direction]="'column'" [align]="'center-left'" padding="0.5rem 0" height="100%">
                    <span class="f-15 fw-500 f-04 f-lh-17">
                        No product items added to the order yet,
                        <a [href]="routes.CustomerDraft" target="_blank" class="fw-600 f-05 link">
                            create a new product
                        </a>
                    </span>
                </grid>
            </grid>
            <grid *ngIf="canModifyItems" [direction]="'column'" [template]="'1fr'" padding="1rem 0 0 0"
                class="border-top-06">
                <grid [direction]="'column'" [align]="'center-right'" height="100%">
                    <button (click)="openSearchProduct()" tuiButton [appearance]="'primary'" [size]="'m'">
                        Add Item
                    </button>
                </grid>
            </grid>
        </grid>
    </ng-template>
</tui-accordion-item>

<ng-template #rowItemTemplate let-item="item">
    <grid [direction]="'column'" [template]="'1fr max-content'" width="100%">
        <grid [direction]="'column'" [template]="'1fr'" height="100%">
            <span class="f-15 fw-600 f-01 f-lh-17">{{ item.name }}</span>
            <span class="f-15 fw-400 f-03 f-lh-17">{{ item.category }}</span>
        </grid>
        <grid [gap]="[8,16]" [direction]="'column'" [align]="'center-right'">
            <button tuiButton [appearance]="'outline'" [size]="'s'" [disabled]="canModifyItems === false"
                (click)="openAdjustQuantity(item)">
                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                    <span class="f-15 fw-600 f-02 f-lh-17" [ngClass]="{'f-02': edition, 'f-04': !edition}">
                        {{ item.quantity }}
                    </span>
                    <span class="f-15 fw-600 f-02 f-lh-17" [ngClass]="{'f-02': edition, 'f-04': !edition}">
                        x
                    </span>
                    <span class="f-15 fw-600 f-02 f-lh-17" [ngClass]="{'f-02': edition, 'f-04': !edition}">
                        {{ item.price | numeralFormat: '$0,0.00' }}
                    </span>
                </grid>
            </button>
            <grid [direction]="'column'" [align]="'center-right'">
                <span class="f-15 fw-600 f-02 f-lh-15">{{ item.total | numeralFormat: '$0,0.00' }}</span>
            </grid>
        </grid>
    </grid>
</ng-template>

<orders-search-product [(show)]="showSearchProduct" (onSelectItem)="onSelectItem($event)" />
<orders-adjust-quantity [(show)]="showAdjustQuantity" [item]="selectedItem"
    (onAdjustQuantity)="onAdjustQuantity($event)" />