// Background Colors
.bg-primary {
    background-color: var(--primary);
}

.bg-primary-hsl {
    background-color: var(--primary-hsl);
}

.bg-primary-hsl-hover:hover {
    background-color: var(--primary-hsl-hover);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.bg-secondary-hsl {
    background-color: var(--secondary-hsl);
}

.bg-secondary-hsl-hover:hover {
    background-color: var(--secondary-hsl-hover);
}

.bg-secondary-hsl-pressed:hover {
    background-color: var(--secondary-hsl-pressed);
}

.bg-secondary-hover:hover {
    background-color: var(--secondary);
}


.bg-white {
    background-color: #ffffff; // White background
}

.bg-black {
    background-color: #000000; // Black background
}

@for $i from 0 through 9 {
    .bg-0#{$i} {
        background: var(--background-0#{$i});
    }
}

.bg-spacial {
    background: radial-gradient(circle, #e1e1e3, #f4f4f4);
}

// Optional: Text contrast for better readability
.bg-primary,
.bg-secondary,
.bg-black {
    color: #ffffff; // White text for dark backgrounds
}

.bg-white {
    color: #000000; // Black text for light backgrounds
}