// Background Colors
.bg-primary {
    background-color: #f68000; // Primary background
}

.bg-secondary {
    background-color: var(--secondary); // Secondary background
}

.bg-secondary-hover:hover {
    background-color: var(--secondary); // Secondary background
}


.bg-white {
    background-color: #ffffff; // White background
}

.bg-black {
    background-color: #000000; // Black background
}

@for $i from 0 through 9 {
    .bg-0#{$i} {
        background: var(--background-0#{$i});
    }
}

.bg-spacial {
    background: radial-gradient(circle, #e1e1e3, #f4f4f4);
}

// Optional: Text contrast for better readability
.bg-primary,
.bg-secondary,
.bg-black {
    color: #ffffff; // White text for dark backgrounds
}

.bg-white {
    color: #000000; // Black text for light backgrounds
}

