@for $i from 1 through 9 {
    .border-0#{$i} {
        border:1px solid var(--text-0#{$i});
    }
}

@for $i from 1 through 9 {
    .border-0#{$i}-0#{$i} {
        border:#{$i}px solid var(--background-0#{$i});
    }
}

@for $i from 1 through 9 {
    .border-bottom-0#{$i} {
        border-bottom:1px solid var(--background-0#{$i});
    }

    .border-top-0#{$i} {
        border-top:1px solid var(--background-0#{$i});
    }

    .border-left-0#{$i} {
        border-left:1px solid var(--background-0#{$i});
    }

    .border-right-0#{$i} {
        border-right:1px solid var(--background-0#{$i});
    }
}

// Default border styles
.brdr {
    border: 1px solid var(--border);
}

.brdr-bottom {
    border-bottom: 1px solid var(--border) !important;
}

.brdr-top {
    border-top: 1px solid var(--border);
}

.brdr-left {
    border-left: 1px solid var(--border);
}

.brdr-right {
    border-right: 1px solid var(--border);
}

// Primary color borders
.brdr-primary {
    border: 1px solid var(--primary);
}

.brdr-left-primary {
    border-left: 1px solid var(--primary);
}

.brdr-left-primary-3 {
    border-left: 3px solid var(--primary);
}

// Secondary color borders
.brdr-secondary {
    border: 1px solid var(--secondary);
}

// Tertiary color borders
.brdr-tertiary {
    border: 1px solid var(--tertiary);
}

// Error color borders
.brdr-error {
    border: 1px solid var(--error);
}

// Warning color borders
.brdr-warning {
    border: 1px solid var(--warning);
}

.brdr-warning-secondary {
    border: 1px solid var(--warning-secondary);
}

// Success color borders
.brdr-success {
    border: 1px solid var(--success);
}

// Info color borders
.brdr-info {
    border: 1px solid var(--info);
}

// Default color borders
.brdr-default {
    border: 1px solid var(--default);
}

// White color borders
.brdr-white {
    border: 1px solid var(--white);
}