@for $i from 1 through 9 {
    .border-0#{$i} {
        border:1px solid var(--text-0#{$i});
    }
}

@for $i from 1 through 9 {
    .border-0#{$i}-0#{$i} {
        border:#{$i}px solid var(--text-0#{$i});
    }
}

@for $i from 1 through 9 {
    .border-bottom-0#{$i} {
        border-bottom:1px solid var(--text-0#{$i});
    }

    .border-top-0#{$i} {
        border-top:1px solid var(--text-0#{$i});
    }
}

.brdr-primary {
    border: 1px solid #f68000; // Primary border
}

.brdr-secondary {
    border: 1px solid #1a1919; // Secondary border
}

.brdr-white {
    border: 1px solid #ffffff; // White border
}

.brdr-left-primary {
    border-left: 1px solid #f68000; // Primary left border
}

.brdr-left-primary-3 {
    border-left: 3px solid #f68000; // Primary left border
}