a:hover {
    color: var(--primary) !important;

    tui-icon {
        color: var(--primary) !important;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }
}

button {
    cursor: pointer;
    border-radius: .375rem;
    font-weight: 500;
    font-size: 14px;

    &:active:not([disabled]) {
        transform: translateY(1px);
    }

    &[small] {
        padding: 0.365rem 0.75rem 0.125rem !important;
        font-size: 13px;
    }

    &[medium] {
        padding: 0.40rem 0.75rem 0.25rem !important;
        font-size: 14px;
    }

    &[full] {
        width: 100%;
    }

    &[icon] {
        border-radius: 8px;
        padding: 0.35rem 0.5rem 0.25rem !important;
    }

    &[xsmall] {
        padding: 0.25rem 0.2rem 0.12rem !important;
        font-size: 12px;
    }

    &[flex] {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        tui-icon {
            top: -2px !important;
        }
    }

    &[flat] {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--text-01);

        &:hover {
            background-color: var(--secondary-hsl-hover);
            border: 1px solid var(--border);
            font-size: 13px;
            font-weight: 500;
            color: var(--text-01);
        }

    }

    &[ghost] {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--text-01);

        &:hover {
            background-color: transparent;
            border: 1px solid transparent;
            color: var(--text-01);
        }
    }

    &[outline] {
        background-color: transparent;
        border: 1px solid var(--border);
        color: var(--text-01);
        outline: 2px solid transparent;
        outline-offset: 2px;
        padding: 0.55rem 0.75rem 0.45rem;


        &:hover:not([disabled]),
        &:active:not([disabled]) {
            background-color: var(--background-04);
            border-color: var(--text-06);
        }
    }


    &[primary] {
        background-color: var(--primary-hsl);
        border: 1px solid var(--primary);
        color: var(--text-01);

        &:hover:not([disabled]) {
            background-color: var(--primary-hsl-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--primary-hsl-pressed);
        }
    }

    &[secondary] {
        background-color: var(--secondary-hsl);
        border: 1px solid var(--border);
        color: var(--text-01);

        &:hover:not([disabled]) {
            background-color: var(--secondary-hsl-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--secondary-hsl-pressed);
        }
    }

    &[danger] {
        background-color: var(--error-hsl);
        border: 1px solid var(--error);
        color: var(--text-01);

        &:hover:not([disabled]) {
            background-color: var(--error-hsl-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--error-hsl-pressed);
        }
    }

    &[info] {
        background-color: var(--info-hsl);
        border: 1px solid var(--info);
        color: var(--text-01);

        &:hover:not([disabled]) {
            background-color: var(--info-hsl-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--info-hsl-pressed);
        }
    }

    &[success] {
        background-color: var(--success-hsl);
        border: 1px solid var(--success);
        color: var(--text-01);

        &:hover:not([disabled]) {
            background-color: var(--success-hsl-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--success-hsl-pressed);
        }
    }

    &[warning] {
        background-color: var(--warning-hsl);
        border: 1px solid var(--warning);
        color: var(--text-01);

        &:hover:not([disabled]) {
            background-color: var(--warning-hsl-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--warning-hsl-pressed);
        }
    }


    &[prefix] {
        border-radius: 8px 0 0 8px;
        border-right: none;

        &[small] {
            border-radius: 12px 0 0 12px;
        }
    }

    &[suffix] {
        border-radius: 0 8px 8px 0;
        border-left: none;

        &[small] {
            border-radius: 0 12px 12px 0;
        }
    }

    &[middle] {
        border-radius: 0 !important;
    }


    &[rounded] {
        border-radius: 16px;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &[disabled]:active {
        transform: none;
    }


    &[selected=true] {
        background-color: var(--background-04) !important;
    }

}