:root {
    --tui-primary: #34abef;
    --tui-background-accent-1: #34abef;
    --tui-background-accent-1-hover: #2ca3e7;
    --tui-background-accent-1-pressed: #2991ce;
    --tui-status-warning: #ffa222;
    --tui-status-warning-pale: #fff6eb;
    --t-bg: #34abef;
}

*{
    --primary: #1ea2ec;  
    --secondary: #f7f7f7;
    --error: #f44336;
    --warning: #ffa222;
    --warning-secondary: #ff5f2d;
    --success: #1ab07a;
    --info: #169deb;
    --text-01: #20202a;
    --text-02: #4a4a4a;
    --text-03: #6b6b6b;
    --text-04: #8c8c8c;
    --text-05: #bcbcbc;
    --text-06: #dcdcdc;
    --text-07: #f7f7f7;
    --text-08: #ffffff;
    --text-09: #f7f7f7;
    --white: #ffffff;
  }