* {
    --primary: #6664f5;
    --primary-hsl: #6664f589;
    --primary-hsl-hover: #6664f59c;
    --primary-hsl-pressed: #7876ff71;
    --secondary: #414444;
    --secondary-hsl: #41444449;
    --secondary-hsl-hover: #41444496;
    --secondary-hsl-pressed: #41444477;
    --tertiary: #4B49C6;
    --error: #f1918a;
    --error-hsl: #f4433641;
    --error-hsl-hover: #f443364e;
    --error-hsl-pressed: #f4433677;
    --default: #b9b9b9;
    --default-hsl: #70727246;
    --default-hsl-hover: #70727225;
    --default-hsl-pressed: #70727228;
    --warning: #fab75b;
    --warning-hsl: #ffa22221;
    --warning-hsl-hover: #ffa22241;
    --warning-hsl-pressed: #ffa22277;
    --warning-secondary: #ff5f2d;
    --warning-secondary-hsl: #ff5f2d21;
    --warning-secondary-hsl-hover: #ff5f2d41;
    --warning-secondary-hsl-pressed: #ff5f2d77;
    --success: #43dfa6;
    --success-hsl: #1ab07921;
    --success-hsl-hover: #1ab07941;
    --success-hsl-pressed: #1ab07977;
    --info: #76c6f5;
    --info-hsl: #169deb21;
    --info-hsl-hover: #169deb41;
    --info-hsl-pressed: #169deb77;
    --text-01: #f0f0f0;
    --text-02: #f1f1f1;
    --text-03: #e4e4e4;
    --text-04: #dcdcdc;
    --text-05: #bcbcbc;
    --text-06: #8c8c8c;
    --text-07: #686868;
    --text-08: #4a4a4a;
    --text-09: #20202a;
    --background-00: #000000;
    --background-01: #171717;
    --background-02: #1f1f1f;
    --background-03: #212121;
    --background-04: #313131;
    --background-05: #4a4a4a;
    --background-06: #6b6b6b;
    --background-07: #8c8c8c;
    --background-08: #a3a3a3;
    --background-09: #eeeeee;

    --shadow-01: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --shadow-02: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --shadow-03: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --shadow-04: rgba(18, 18, 18, 0.75) -19px 19px 38px, rgba(0, 0, 0, 0.503) 0px 15px 12px;
    --shadow-05: rgba(0, 0, 0, 0.50) 0px 9px 2rem 1rem;

    --border: #2e2e2e;
    --white: #ffffff;
}

:root {
    --tui-text-primary: var(--text-01);
    --tui-primary: var(--primary);
    --tui-background-accent-1: var(--primary);
    // // more dark 10%
    --tui-background-accent-1-hover: color-mix(in srgb, var(--primary), black 10%);
    --tui-background-accent-1-pressed: color-mix(in srgb, var(--primary), black 20%);
    --tui-status-warning: var(--warning);
    --tui-status-warning-pale: #fffcf8;
    --tui-status-positive-pale: #3ace5f27;
    --tui-status-info-pale: #eef6fe;
    --tui-text-action: var(--primary);
    --t-bg: var(--primary);
}