.abs {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.scroll-v {
    overflow-y: auto;
}

.scroll-h {
    overflow-x: auto;
}

.baseline {
    align-items: baseline !important;
}

.w-content {
    width: fit-content;
}

.pdd-0 {
    padding: 0 !important;
}

.img-cover {
    object-fit: cover;
}

.fill-icon {
    font-variation-settings: 'FILL' 1;
}

.no-wrap {
    display: inline-block;
    white-space: nowrap;
}