.abs {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.scroll-v {
    overflow-y: auto;
}

.scroll-h {
    overflow-x: auto;
}

.baseline {
    align-items: baseline !important;
}

.w-content {
    width: fit-content;
}