* {

    --font: "Anek Devanagari", serif !important;
    --tui-font-text: var(--font);
    --tui-font-heading: var(--font);
    --tui-font-text-s: normal 0.94rem/1.25rem var(--tui-font-text);
    --t-group-margin: -0px;
}

tui-opt-group:before {
    font-size: 13px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
li,
ul,
ol,
input,
textarea,
button,
label,
select,
option,
strong,
em,
i,
b,
u,
s,
strike,
del,
ins,
mark,
small,
sub,
sup,
abbr,
dfn,
code,
kbd,
samp,
var,
pre,
q,
cite,
blockquote,
address,
time,
summary,
details,
figure,
figcaption,
caption,
article,
aside,
footer,
header,
nav,
section,
main,
body,
html {
    font-family: var(--font);
    font-optical-sizing: auto;
    color: var(--text-01);
}

p {
    margin: 0;
}

span:not(.material-symbols-outlined):not(.material-symbols-filled):not(.icon) {
    padding-top: 0.3rem;
}

.icon-fill {
    font-variation-settings: 'FILL' 1
}



// Scroll

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2a6;
}

*::-webkit-scrollbar-track:active {
    background-color: #d0d5d6c9;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #02c6d070;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #02c6d07a;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #02c6d0;
}