.shadow-01 {
    box-shadow: var(--shadow-01);
}

.shadow-02 {
    box-shadow: var(--shadow-02);
}

.shadow-03 {
    box-shadow: var(--shadow-03);
}
 
.shadow-04 {
    box-shadow: var(--shadow-04);
}
