* {
    --table-color: var(--background-03); 
}

table {
    border-radius: 12px;
    border-spacing: 0;
    border: 1px solid var(--border) !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: none !important;    
    font-size: 13px;
    /* Evitar que la tabla se estire */
    height: auto !important;
    min-height: auto !important;
}

th {
    background-color: var(--background-03);
    font-weight: 500;
    height: 36px;
    min-height: 36px;
    max-height: 36px;
    text-align: left;
    padding: 0 0.75rem;
    border-right: 1px solid var(--border) !important;
    border-bottom: 1px solid var(--border) !important;
}

td{
    padding: 0 0.75rem;
    text-align: left;
    height: 36px;
    min-height: 36px;
    max-height: 36px;
}

tr {
    height: 36px;
    min-height: 36px;
    max-height: 36px;

    &[hoverable]:hover {
        cursor: pointer;
        background-color: var(--background-04);
    }
}



thead,
tbody {
    box-shadow: none !important;
}

/* Evitar que el tbody se estire */
tbody {
    height: auto !important;
    min-height: auto !important;
}

/* Para contenedores de tabla que ocupan 100vh */
.table-container {
    display: flex;
    flex-direction: column;
}

.table-container table {
    flex-shrink: 0;
    height: auto !important;
}
 