<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'var(--full-vh)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [direction]="'column'" [template]="!isMobileOrTablet ? '1fr' : '1fr max-content'"
            [padding]="isMobileOrTablet ? '0.5rem 1rem' : '1rem'">
            <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'">
                <span class="fw-500 f-01 f-20" padding="0.25rem 0 0 0">
                    Usuarios
                </span>
            </grid>
            <grid *ngIf="isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small (click)="facade.onNewUser()">
                    Nuevo usuario
                </button>
            </grid>
        </grid>

        <grid [direction]="'row'" [gap]="[0,0]">
            <table-filters [tableFilter]="facade.tableFilter.value" [ctaLabel]="'Nuevo usuario'"
                [segments]="facade.segments" [showType]="facade.showType" [columns]="facade.columns"
                [defaultSortBy]="facade.tableFilter.value?.sortBy!" (onCtaClick)="facade.onNewUser()"
                (onFiltersChange)="facade.onFiltersChange($event)" (columnsChange)="facade.onColumnsChange($event)" />
            <table-actions *ngIf="facade.selectedRows.length > 0" [selectedRows]="facade.selectedRows"
                [actions]="facade.actions" />
        </grid>

        <grid [direction]="'row'" [align]="'top-left'" height="100%" width="100%"
            class="scroll-h scroll-v bg-02 baseline">
            <table [width]="isMobileOrTablet ? '1000px' : '100%'">
                <thead>
                    <tr>
                        <th width="40px"> </th>
                        <ng-container *ngFor="let column of columns">
                            <th [width]="column.width" *ifColumn="{columns: columns, key: column.key}">{{column.label}}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="busy">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                    <tui-loader [size]="'m'" />
                                    Cargando...
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <tr *ngIf="busy === false && data?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay usuarios disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="busy === false">
                        <tr hoverable *ngFor="let item of data; let i = index" (click)="facade.onUserClick(item)">
                            <td (click)="$event.stopPropagation()">
                                <label nz-checkbox [(ngModel)]="item.Checked" [nzDisabled]="item.IsOwner"></label>
                            </td>
                            <td>{{item.created_at || '' | dateFormat:'DD MMMM[,] YYYY' | capitalization }}</td>
                            <td>{{item.FullName}}</td>
                            <td>{{item.Email}}</td>
                            <td>{{item.Phone || '-'}}</td>
                            <td>
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.IsOwner ? 'Propietario' : 'Staff'"
                                        [appearance]="item?.IsOwner ? 'success' : 'default'" [size]="'m'" />
                                </grid>
                            </td>
                            <td>
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.Disabled ? 'Inactivo' : 'Activo'"
                                        [appearance]="item?.Disabled ? 'error' : 'success'" [size]="'m'" />
                                </grid>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </grid>

        <table-pagination [rowCount]="rowCount" (onChange)="facade.onTablePaginationChange($event)" />
    </grid>



</layout>

<users-confirm-delete-modal [(show)]="facade.showDeleteUsersModal" (onConfirm)="facade.onDeleteUsers()"
    (onClose)="facade.showDeleteUsersModal = false" />