<nz-drawer [nzClosable]="false" [(nzVisible)]="show" nzPlacement="left" [nzTitle]="undefined"
    (nzOnClose)="closeShortMenu()" [nzWidth]="isMobile ? '100%' : '300px'">
    <ng-container *nzDrawerContent>
        <grid [direction]="'row'" [gap]="[0,16]" [template]="'1fr max-content'" [padding]="'1rem'" height="100%" class="brdr-right">
            <grid [gap]="[24,16]" [direction]="'row'" [template]="'max-content 1fr'" height="100%" width="100%">
                <grid [direction]="'column'" [template]="'1fr max-content'">
                    <grid [gap]="[0,16]" [direction]="'column'" [align]="'center-left'">
                        <logo />
                        <span class="f-14 fw-500 f-lh-13 f-08">|</span>
                        <grid [gap]="[0,16]" [direction]="'column'" [align]="'center-left'">
                            <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                                <span class="material-symbols-outlined f-18 f-lh-13 f-06">
                                    work
                                </span>
                                <span class="fw-500 f-02 {{isMobileOrTablet ? 'f-18 f-lh-21' : 'f-14 f-lh-17'}}">
                                    {{facade.organizationName}}
                                </span>
                            </grid>
                        </grid>
                    </grid>
                    <grid [direction]="'column'" [align]="'center-right'">
                        <button (click)="closeShortMenu()" outline small icon-google>
                            <tui-icon icon="@tui.x" class="f-14 fw-600 f-06" />
                        </button>
                    </grid>
                </grid>

                <grid [gap]="[16,16]"  [direction]="'column'" [align]="'center-left'">
                    <top-bar-organization />
                    <status-badge [appearance]="'warning'" [label]="'Gratuito'"></status-badge>
                </grid>
                <menu-content />
            </grid>

        </grid>
    </ng-container>
</nz-drawer>