<nz-drawer [nzClosable]="false" [(nzVisible)]="show" nzPlacement="right" [nzTitle]="undefined"
    (nzOnClose)="closeShortMenu()" [nzWidth]="isMobile ? '100%' : '300px'">
    <ng-container *nzDrawerContent>
        <grid [direction]="'row'" [gap]="[16,16]" [template]="'1fr max-content'" height="100%" padding="0 0.5rem">
            <grid [gap]="[24,16]" [direction]="'row'" [template]="'max-content 1fr'" height="100%" width="100%">
                <grid [direction]="'column'" [template]="'1fr max-content'">
                    <grid [direction]="'column'" [align]="'center-left'">
                        <span class="f-18 fw-600 f-02">Menu</span>
                    </grid>
                    <grid [direction]="'column'" [align]="'center-right'">
                        <button (click)="closeShortMenu()" tuiButton tuiRoundButton tuiIconButton
                            [appearance]="'secondary'" [size]="'s'">
                            <tui-icon icon="@tui.x" class="f-18 fw-600 f-02" />
                        </button>
                    </grid>
                </grid>
                <grid [direction]="'column'" [align]="'top-left'" height="100%">
                    <grid [gap]="[20,16]" [direction]="'row'" [template]="'1fr'" width="100%">
                        <ng-container *ngFor="let option of menuOptions">
                            <span *ngIf="option.show" class="f-14 fw-600 f-lh-13 f-02 t-left pointer f-primary-hover"
                                width="100%">
                                {{ option.label }}
                            </span>
                        </ng-container>
                    </grid>
                </grid>
            </grid>
            <grid [direction]="'column'" [template]="'1fr 1fr'">
                <grid [gap]="[16,8]" [direction]="'column'" [align]="'center-left'" height="100%">
                    <span class="f-12 fw-600 f-02">Version 0.01</span>
                </grid>
                <grid [gap]="[16,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                    <img src="/assets/beta.webp" alt="logo" class="h-32" />
                </grid>
            </grid>
        </grid>
    </ng-container>
</nz-drawer>