<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Ajustar entrega'" [confirmStyle]="'success'"
    [disableConfirm]="!canSave" (onConfirm)="saveDelivery()" (onClose)="close()">
    <span title>
        Ajustar entrega
    </span>

    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">
        <grid [direction]="'column'" [align]="'center-left'">
            <span class="f-13 fw-400 f-03 f-lh-17">
                Selecciona el tipo de entrega que quieres cambiar.
            </span>
        </grid>

        <span class="f-14 fw-400 f-02 f-lh-14">
            Tipo de entrega:
        </span>
        <form tuiGroup [orientation]="'vertical'" [collapsed]="false" [formGroup]="facade.formDelivery">
            <label tuiBlock tuiBlock="s">
                <input formControlName="deliveryType" tuiRadio type="radio" value="pickup" size="s" />
                <grid [direction]="'row'" [gap]="[4,16]">
                    <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                        <span class="material-symbols-outlined f-20 f-02">
                            door_sliding
                        </span>
                        <span class="f-13 fw-600 f-02 f-lh-17">
                            Recoger en sucursal
                        </span>
                    </grid>
                    <span class="f-13 fw-400 f-06 f-lh-17">
                        Acude a la sucursal para recoger el pedido.
                    </span>
                </grid>
            </label>
            <label tuiBlock tuiBlock="s">
                <input formControlName="deliveryType" tuiRadio type="radio" value="delivery" size="s" />
                <grid [gap]="[4,8]" [direction]="'row'">
                    <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                        <span class="material-symbols-outlined f-20 f-02">
                            moped_package
                        </span>
                        <span class="f-13 fw-600 f-02 f-lh-17">
                            Envío a domicilio
                        </span>
                    </grid>
                    <grid [direction]="'row'" [gap]="[16,16]">
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                            <span class="f-13 fw-400 f-06 f-lh-17">
                                Envío a domicilio en la dirección:
                            </span>
                        </grid>
                    </grid>
                </grid>
            </label>
        </form>

        <grid *ngIf="isDelivery" [direction]="'row'" [gap]="[16,16]">
            <form [formGroup]="facade.formDelivery">
                <grid [direction]="'row'" [gap]="[16,16]">
                    <form-input [label]="'Costo del envío'" [type]="'number'" [placeholder]="'Costo del envío'"
                        [min]="0" [step]="1.0" [formControlName]="'deliveryCost'" [prefixIcon]="'dollar-sign'"
                        [required]="true" />
                    <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr 1fr'">
                        <form-input [label]="'Fecha de entrega'" [type]="'date'" [placeholder]="'Fecha de entrega'"
                            [formControlName]="'deliveryDate'" [required]="true" />
                        <form-input [label]="'Hora de entrega'" [type]="'time'" [placeholder]="'HH:MM'"
                            [formControlName]="'deliveryTime'" [required]="true" />
                    </grid>
                    <form-input [label]="'Instrucciones'" [type]="'textarea'" [placeholder]="'Instrucciones'"
                        [formControlName]="'deliveryInstructions'" />
                </grid>
            </form>
        </grid>

        <grid [direction]="'column'" [align]="'center-left'">
            <span class="f-13 fw-400 f-06 f-lh-17">
                Da clic en el botón
                <label class="fw-500 f-success">
                    ajustar entrega
                </label>
                para ajustar la entrega del pedido.
            </span>
        </grid>
    </grid>


</modal>