<tui-accordion-item #accordion class="container" [open]="true" [size]="'s'">
    <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'">
        <span class="f-14 fw-500 f-05 f-lh-12">Resumen de pago</span>
    </grid>

    <ng-template tuiAccordionItemContent>
        <grid [direction]="'row'" [gap]="[8,16]" [padding]="'0.5rem 0 0 0'">

            <grid [direction]="'column'" [template]="'1fr max-content'" width="100%">
                <span class="f-13 fw-400 f-06 f-lh-14">Subtotal</span>
                <span class="f-13 fw-600 f-01 f-lh-14">
                    {{orderTotals?.Subtotal ?? 0 | numeralFormat: '$0,0.00'}}
                </span>
            </grid>
            <grid [direction]="'column'" [template]="'1fr max-content'" width="100%">
                <span class="f-13 fw-400 f-06 f-lh-14">
                    Impuestos
                    <span class="fw-500">
                        {{0.16 | numeralFormat:'0.0%'}}
                    </span>
                </span>
                <span class="f-13 fw-600 f-01 f-lh-14">
                    {{orderTotals?.Taxes ?? 0 | numeralFormat: '$0,0.00'}}
                </span>
            </grid>
            <grid [direction]="'column'" [template]="'1fr max-content'" width="100%">
                <span class="f-13 fw-400 f-06 f-lh-14">Envío</span>
                <span class="f-13 fw-600 f-01 f-lh-14">
                    {{orderTotals?.Delivery ?? 0 | numeralFormat: '$0,0.00'}}
                </span>
            </grid>
            <grid [direction]="'column'" [template]="'1fr max-content'" width="100%">
                <span class="f-13 fw-400 f-06 f-lh-14">Descuento</span>
                <span class="f-13 fw-600 f-01 f-lh-14">
                    {{orderTotals?.Discount ?? 0 | numeralFormat: '$0,0.00'}}
                </span>
            </grid>
            <grid [direction]="'column'" [template]="'1fr max-content'" width="100%">
                <span class="f-13 fw-600 f-01 f-lh-14">Total</span>
                <span class="f-13 fw-600 f-01 f-lh-17">
                    {{orderTotals?.Total ?? 0 | numeralFormat: '$0,0.00'}}
                </span>
            </grid>
            <grid *ngIf="itemsCount > 0" [direction]="'column'" [template]="'1fr'" padding="1rem 0 0 0"
                class="border-top-02">
                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-right'">
                    <button *ngIf="canAddDiscount" (click)="facade.openDiscount()" secondary small>
                        Agregar descuento
                    </button>
                    <button *ngIf="canRemoveDiscount" (click)="facade.onRemoveDiscount()" secondary small
                        [disabled]="!canAddDiscount">
                        Quitar descuento
                    </button>

                    <button *ngIf="canRefund" (click)="facade.openRefund()" danger small>
                        Reembolsar pago
                    </button>
                </grid>
            </grid>

        </grid>
    </ng-template>
</tui-accordion-item>

<orders-collect-payment [(show)]="facade.showCollectPaymentModal" />
<orders-adjust-discount [(show)]="facade.showAdjustDiscountModal" />



<modal-confirm [(show)]="facade.showRefundModal" (onConfirm)="facade.onRefund()">
    <span title>
        Reembolsar pago
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">
        <span class="f-14 fw-600 f-01">
            ¿Estás seguro de querer reembolsar el pago?
        </span>
        <span class="f-14 f-lh-17 fw-400 f-05">
            Al reembolsar el pedido podrás cambiar el método de pago y
            <label class="f-error">
                realizar modificaciones al pedido
            </label> según sea necesario.
        </span>
    </grid>
</modal-confirm>