<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'calc(100vh - 49px)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [direction]="'column'" [padding]="'1rem'">
            <span class="fw-500 f-01 f-20" padding="0.25rem 0 0 0">
                Productos
            </span>
        </grid>
        <grid [gap]="[8,16]" [direction]="'column'" [template]="'1fr max-content'" height="100%"
            class="wrap brdr-top bg-02" padding="0.5rem 1rem">
            <grid [gap]="[8,16]" [direction]="'column'" [align]="'center-left'">
                <nz-select ngModel="all" [width]="'220px'">
                    <nz-option nzValue="all" nzLabel="Todos los productos"></nz-option>
                    <nz-option nzValue="active" nzLabel="Productos con mayores ventas"></nz-option>
                    <nz-option nzValue="disabled" nzLabel="Productos con menos ventas"></nz-option>
                </nz-select>
                <nz-segmented [nzOptions]="facade.segments" [nzSize]="'small'"
                    (nzValueChange)="facade.onSegmentChange($event)"></nz-segmented>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small (click)="facade.onNewProductClick()">
                    Nuevo producto
                </button>
            </grid>
        </grid>
        <grid [direction]="'row'" [align]="'top-left'" height="100%" width="100%"
            class="scroll-h scroll-v bg-02 baseline">
            <table>
                <thead>
                    <tr>
                        <th> </th>
                        <th [width]="'80px'">Imagen</th>
                        <th width="150px">Fecha de creación</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Disponibilidad</th>
                        <th>Categoría</th>
                        <th width="80px">Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="facade.api.busy.value">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                    <tui-loader [size]="'m'" />
                                    Loading...
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <tr *ngIf="facade.api.busy.value === false && facade.api.products.value?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay productos disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="facade.api.busy.value === false">
                        <tr hoverable *ngFor="let item of facade.api.products.value; let i = index"
                            (click)="facade.onProductClick(item)">
                            <td>
                                <label nz-checkbox></label>
                            </td>
                            <td>
                                <grid [padding]="'0.5rem 0'">
                                    <img src="{{item.ImageUrl}}" alt="{{item.Name}}" width="48" height="48"
                                        (error)="utils.onImageError($event)" class="brdr-radius-4 img-cover" />
                                </grid>
                            </td>
                            <td>{{item.created_at || '' | dateFormat: 'DD MMMM[,] YYYY' | capitalization }}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Price | numeralFormat: '$0,0.00'}}</td>
                            <td>{{item.QtyStoresAvailable || 0 | numeralFormat: '0,0'}} tiendas</td>
                            <td>{{item.ProductCategory?.Name}}</td>
                            <td>
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.Disabled ? 'Inactiva' : 'Activa'"
                                        [appearance]="item?.Disabled ? 'error' : 'success'" [size]="'m'" />
                                </grid>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </grid>

        <grid [direction]="'column'" [template]="'1fr max-content'" padding="0.5rem 1rem">
            <grid [direction]="'column'" [align]="'center-left'">
                <button outline small flex prefix>
                    <tui-icon icon="@tui.arrow-left" class="f-16 f-06" />
                </button>
                <button outline small flex suffix>
                    <tui-icon icon="@tui.arrow-right" class="f-16 f-06" />
                </button>
            </grid>
            <grid [direction]="'column'" [align]="'center-right'">
                <button (click)="facade.fetchProducts()" flat small flex>
                    <tui-icon icon="@tui.refresh-ccw" class="f-16 f-06" />
                    Actualizar
                </button>
            </grid>
        </grid>
    </grid>



</layout>