<tui-accordion-item class="container" [open]="true">
    <span class="f-16 fw-600 f-02 f-lh-14">
        Customer
    </span>
    <ng-template tuiAccordionItemContent>
        <grid *ngIf="edition === true && hadCustomer === false" [gap]="[16,16]" [direction]="'column'"
            [template]="'1fr'">
            <grid [direction]="'column'" [align]="'center-left'" padding="0.5rem 0" height="100%">
                <span class="f-15 fw-500 f-04 f-lh-17">
                    No customer assigned yet,
                    <a [href]="routes.CustomerDraft" target="_blank" class="fw-600 f-05 link">
                        create new
                    </a>
                </span>
            </grid>
            <grid [direction]="'column'" [align]="'center-right'" height="100%" padding="1rem 0 0 0"
                class="border-top-06">
                <button tuiButton [appearance]="'primary'" [size]="'m'" (click)="openCustomerModal()">
                    Assign
                </button>
            </grid>
        </grid>
        <ng-container *ngIf="edition === true && hadCustomer === true">
            <ng-container *ngTemplateOutlet="customerTemplateView"></ng-container>
        </ng-container>

        <ng-container *ngIf="edition === false && hadCustomer === true">
            <ng-container *ngTemplateOutlet="customerTemplateView"></ng-container>
        </ng-container>

    </ng-template>
</tui-accordion-item>


<!-- Modal -->
<orders-search-customer [(show)]="showCustomerModal" (onSelectCustomer)="onSelectCustomer($event)" />


<!-- Template  -->
<ng-template #customerTemplateView>
    <grid [direction]="'row'" [gap]="[16,16]">
        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
            <tui-icon icon="@tui.user" class="f-18 fw-600 f-02" />
            <a [href]="customerDetailUrl" target="_blank" class="f-15 fw-400 f-02 f-lh-14 link">
                <span class="f-15 fw-400 f-02 f-lh-14">
                    {{order?.customer?.FullName}}
                </span>
            </a>
        </grid>
        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
            <tui-icon icon="@tui.shopping-bag" class="f-18 f-02" />
            <span class="f-15 fw-400 f-02 f-lh-14">
                {{order?.customer?.TotalOrders || 0 | numeralFormat: '0,0'}} Orders
            </span>
        </grid>
        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
            <tui-icon icon="@tui.phone" class="f-18 f-02" />
            <span class="f-15 fw-400 f-02 f-lh-14">
                {{order?.customer?.Phone}}
            </span>
        </grid>

        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
            <tui-icon icon="@tui.mail" class="f-18 f-02" />
            <a href="mailto:asd@live.com" class="f-15 fw-400 f-02 f-lh-14 link">
                <span class="f-15 fw-400 f-02 f-lh-14">
                    {{order?.customer?.Email}}
                </span>
            </a>
        </grid>

        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
            <tui-icon icon="@tui.map-pin-house" class="f-18 f-02" />
            <span class="f-15 fw-400 f-02 f-lh-16">
                {{order?.customer?.Address}}
            </span>
        </grid>
        <grid [direction]="'column'" [template]="'1fr max-content'">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" height="100%">

                <a [href]="googleUrlMap" target="_blank" class="f-15 fw-400 f-02 f-lh-14 link">
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.map" class="f-18 fw-600 f-02 f-primary" />
                        <span class="f-primary">View Map</span>
                    </grid>
                </a>
            </grid>
            <grid *ngIf="edition === true" [direction]="'column'" [align]="'center-right'" height="100%">
                <button tuiButton [appearance]="'primary'" [size]="'m'" (click)="openCustomerModal()">
                    Change
                </button>
            </grid>
        </grid>
    </grid>
</ng-template>