<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'var(--full-vh)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [direction]="'column'" [template]="!isMobileOrTablet ? '1fr' : '1fr max-content'"
            [padding]="isMobileOrTablet ? '0.5rem 1rem' : '1rem'">
            <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'">
                <span class="fw-500 f-01 f-20" padding="0.25rem 0 0 0">
                    Clientes
                </span>
            </grid>
            <grid *ngIf="isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small (click)="facade.onNewCustomer()">
                    Crear cliente
                </button>
            </grid>
        </grid>

        <grid [direction]="'row'" [gap]="[0,0]">
            <table-filters [tableFilter]="facade.tableFilter.value" [ctaLabel]="'Nuevo cliente'" [columns]="facade.columns"
                [showType]="facade.showType" [defaultSortBy]="facade.tableFilter.value?.sortBy!"
                (onCtaClick)="facade.onNewCustomer()" (onFiltersChange)="facade.onFiltersChange($event)"
                (columnsChange)="facade.onColumnsChange($event)" />

            <table-actions *ngIf="facade.selectedRows.length > 0" [selectedRows]="facade.selectedRows"
                [actions]="facade.actions" />
        </grid>
        <grid [direction]="'row'" [align]="'top-left'" height="100%" width="100%"
            class="scroll-h scroll-v bg-02 baseline">
            <table [width]="isMobileOrTablet ? '1300px' : '100%'">
                <thead>
                    <tr>
                        <th width="40px"> </th>
                        <ng-container *ngFor="let column of columns">
                            <th [width]="column.width" *ifColumn="{columns: columns, key: column.key}">{{column.label}}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="facade.api.busy.value">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                    <tui-loader [size]="'m'" />
                                    Cargando...
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <tr *ngIf="busy === false && data?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay clientes disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="facade.api.busy.value === false">
                        <tr hoverable *ngFor="let item of data; let i = index" (click)="facade.onCustomerClick(item)">
                            <td>
                                <label nz-checkbox [(ngModel)]="item.Checked" (click)="$event.stopPropagation()"></label>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'created_at'}">{{item.created_at || '' | dateFormat:
                                'DD MMMM[,] YYYY' | capitalization }}</td>
                            <td *ifColumn="{columns: columns, key: 'FullName'}">{{item.FullName}}</td>
                            <td *ifColumn="{columns: columns, key: 'Phone'}">{{item.Phone}}</td>
                            <td *ifColumn="{columns: columns, key: 'Address'}">
                                <tui-line-clamp [content]="item.Address || '-' | capitalization" [lineHeight]="20"
                                    [linesLimit]="1" />
                            </td>
                            <td *ifColumn="{columns: columns, key: 'TotalOrders'}">
                                {{item.TotalOrders || 0}}
                                {{item.TotalOrders && item.TotalOrders > 1 || item.TotalOrders === 0 ? 'pedidos' :
                                'pedido'}}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Disabled'}">
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.Disabled ? 'Inactivo' : 'Activo'"
                                        [appearance]="item?.Disabled ? 'error' : 'success'" [size]="'m'" />
                                </grid>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </grid>

        <table-pagination [rowCount]="rowCount" (onChange)="facade.onTablePaginationChange($event)" />
    </grid>
</layout>

<customers-confirm-delete-modal [(show)]="facade.showDeleteCustomersModal" (onConfirm)="facade.onDeleteCustomers()"
    (onClose)="facade.showDeleteCustomersModal = false" />

<customers-confirm-disable-modal [(show)]="facade.showDisableCustomersModal" (onConfirm)="facade.onDisableCustomers()"
    (onClose)="facade.showDisableCustomersModal = false" />