<grid [direction]="'column'" [template]="'1fr'" height="100%">
    <grid [gap]="[8,16]" [direction]="'column'" [align]="'top-right'" height="100%">

        <button *ngIf="isMobileOrTablet === false" outline small rounded>
            Danos tu opinión
        </button>
        <grid [direction]="'column'" [align]="'center-left'">
            <button outline rounded small icon-google prefix (click)="openNotifications()">
                <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                    help
                </span>
            </button>
            <button *ngIf="isMobileOrTablet === true" outline rounded small icon-google middle
                (click)="openNotifications()">
                <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                    feedback
                </span>
            </button>
            <nz-badge [nzShowDot]="showDot" nzDot="true" nzSize="small">
                <button outline rounded small icon-google middle (click)="openNotifications()">
                    <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                        inbox
                    </span>
                </button>
            </nz-badge>
            <button outline rounded small icon-google suffix (click)="openNotifications()">
                <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                    support_agent
                </span>
            </button>
        </grid>
        <grid [direction]="'column'" [align]="'center-center'" [height]="'100%'">
            <grid [height]="'24px'" class="border-left-05">&nbsp;</grid>
        </grid>
        <profile-menu />
    </grid>
</grid>


<drawer-notifications [(show)]="showNotifications"></drawer-notifications>