<grid [gap]="[32,16]" [direction]="'row'" [template]="'max-content 1fr'" padding="1rem" height="100vh"
    [width]="collapsed ? '60px': isDesktopOrLaptop ? '200px': '250px'" class="bg-07">
    <grid [gap]="[16,0]" [direction]="'column'" [template]="collapsed ? '1fr' :'1fr max-content'">
        <grid [direction]="'column'" [align]="'center-left'" height="fit-content">
            <logo [direction]="'horizontal'" [mode]="collapsed ? 'single' : 'double'" />
        </grid>
        <grid *ngIf="isMobileOrTablet === false" [direction]="'column'" [align]="'center-center'" [height]="'100%'">
            <button (click)="toggleMenu()" tuiButton tuiIconButton [appearance]="'outline'" [size]="'xs'">
                <tui-icon icon="@tui.{{collapsed ? 'chevrons-right':'chevrons-left'}}" class="f-18 fw-600 f-04" />
            </button>
        </grid>
    </grid>
    <grid [gap]="[16,16]" [direction]="'row'" [template]="'1fr max-content'" height="100%">
        <menu-content [collapsed]="collapsed" />
    </grid>
</grid>