<nz-avatar nzText="U" nzGap="8" style="color:#deddff; background-color:#6763f5;" class="pointer" nz-dropdown
    nzTrigger="click" [nzDropdownMenu]="menu" />

<nz-dropdown-menu #menu="nzDropdownMenu">
    <grid class="bg-01 brdr brdr-radius-8">
        <tui-data-list [style.width.rem]="12" [size]="'s'">
            <tui-opt-group>
                <tui-opt-group>
                    <button *ngFor="let option of options" tuiOption type="button" [value]="option">
                        <span class="f-14 fw-500 f-lh-13 f-02">{{ option.label }}</span>
                    </button>
                </tui-opt-group>
            </tui-opt-group>
        </tui-data-list>
    </grid>

</nz-dropdown-menu>