<grid [gap]="isMobile ? [8,8] :[24,24]" [direction]="'column'" [template]="'max-content 1fr max-content'" height="100%"
    width="100%" [padding]="isMobile? '1rem 0.5rem': '1rem'">
    <grid [gap]="[8,6]" [direction]="'column'" [align]="'center-left'" height="100%">
        <img src="/logo_simple.svg" alt="logo" class="h-44" />
        <span *ngIf="!isMobile" class="f-18 fw-600">
            {{title}}
        </span>
    </grid>
    <grid [direction]="'column'" [template]="'1fr'" height="100%">
        <grid [direction]="'column'" [align]="'center-center'" height="100%">
            <tui-segmented [size]="'m'" (activeItemIndexChange)="onChangeTab($event)">
                <button type="button">
                    <grid [gap]="[8,6]" [direction]="'column'" [align]="isMobile? 'center-center' :'center-left'">
                        <span class="material-symbols-outlined fw-600 f-18 icon-fill">
                            receipt_long
                        </span>
                        <span *ngIf="!isMobileOrTablet" class="f-12 fw-500">All orders</span>
                        <tui-badge-notification [size]="'m'" badgeStatus="primary">
                            3
                        </tui-badge-notification>
                    </grid>
                </button>
                <button type="button" class="f-13">
                    <grid [gap]="[8,4]" [direction]="'column'" minWidth="1.5rem"
                        [align]="isMobile? 'center-center' :'center-left'">
                        <span class="material-symbols-outlined fw-600 f-18 icon-fill">
                            person
                        </span>
                        <span *ngIf="!isMobileOrTablet" class="f-12 fw-500">Self service</span>
                    </grid>
                </button>
                <button type="button" class="f-13">
                    <grid [gap]="[8,4]" [direction]="'column'" minWidth="1.5rem"
                        [align]="isMobile? 'center-center' :'center-left'">
                        <span class="material-symbols-outlined fw-600 f-18 icon-fill">
                            cycle
                        </span>
                        <span *ngIf="!isMobileOrTablet" class="f-12 fw-500">Processing</span>
                    </grid>
                </button>
                <button type="button" class="f-13">
                    <grid [gap]="[8,4]" [direction]="'column'" minWidth="1.5rem"
                        [align]="isMobile? 'center-center' :'center-left'">
                        <span class="material-symbols-outlined fw-600 f-18 icon-fill">
                            move_item
                        </span>
                        <span *ngIf="!isMobileOrTablet" class="f-12 fw-500">Finished</span>
                    </grid>
                </button>
            </tui-segmented>
        </grid>
    </grid>

    <grid [direction]="'column'" [template]="'1fr'" height="100%">
        <grid *ngIf="isMobile === true" [direction]="'column'" [template]="'1fr'">
            <button (click)="openMenu()" tuiButton tuiRoundButton tuiIconButton [appearance]="'secondary'" [size]="'m'">
                <tui-icon icon="@tui.menu" class="f-18 fw-600 f-02" />
            </button>
        </grid>
        <grid *ngIf="isMobile === false" [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
            <button (click)="openMenu()" tuiButton tuiRoundButton tuiIconButton [appearance]="'secondary'" [size]="'m'">
                <tui-icon icon="@tui.menu" class="f-18 fw-600 f-02" />
            </button>
            <button (click)="openNotifications()" tuiButton tuiRoundButton tuiIconButton [appearance]="'secondary'"
                [size]="'m'">
                <tui-icon icon="@tui.bell" class="f-18 fw-600 f-02" />
            </button>
            <button [routerLink]="routes.Settings" tuiButton tuiRoundButton tuiIconButton [appearance]="'secondary'"
                [size]="'m'">
                <tui-icon icon="@tui.settings" class="f-18 fw-600 f-02" />
            </button>
            <board-profile-menu></board-profile-menu>
        </grid>
    </grid>
</grid>

<board-drawer-menu-options [(show)]="showShortMenu"></board-drawer-menu-options>
<board-drawer-notications [(show)]="showNotifications"></board-drawer-notications>