<grid *ngIf="!imageSelected" [padding]="'1rem'" class="brdr brdr-radius-6 bg-02 drop-zone"
    [class.drag-over]="isDragOver" [width]="'150px'" [height]="'150px'" (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

    <grid [gap]="[8,8]" [direction]="'row'" [align]="'center-center'" [width]="'100%'" [height]="'100%'">
        <input #file type="file" class="hidden" (change)="onSelectedImage($event)" [accept]="accept" />

        <grid [gap]="[2,2]" [direction]="'row'" [align]="'center-center'" [width]="'fit-content'">
            <grid [direction]="'column'" [align]="'center-center'">
                <tui-icon icon="@tui.plus" class="f-18 f-06 f-primary" />
            </grid>
            <span class="f-12 f-lh-14 f-06 fw-400 t-center">
                Arrastra y suelta una imagen o haz click para seleccionar una
            </span>
        </grid>

        <button outline xsmall (click)="file.click()">
            <grid [gap]="[2,2]" [direction]="'column'" [align]="'center-center'">
                Seleccionar
            </grid>
        </button>
    </grid>
</grid>

<grid *ngIf="imageSelected" [direction]="'row'" [align]="'center-center'" [width]="'150px'" [height]="'150px'"
    class="brdr brdr-radius-6 bg-02 relative">

    <div class="image-container">
        <img [src]="imageBase64" [alt]="'Imagen seleccionada'" [width]="'100%'" [height]="'150px'"
            class="brdr-radius-6 img-cover" />
    </div>
    <button flat xsmall icon (click)="delete()" class="button-flotade">
        <grid [gap]="[2,2]" [direction]="'column'" [align]="'center-center'">
            <tui-icon icon="@tui.x" class="f-18 f-04 f-02" />
        </grid>
    </button>
</grid>