<drawer [(show)]="show" (onClose)="close()" [closable]="true" [busy]="busy"
    [large]="isMobileOrTablet ? '100%' : '500px'" [confirmStyle]="'success'" [closeLabel]="'Cerrar'"
    [confirmLabel]="'Marcar todas como leídas'" (onConfirm)="showConfirmModal = true">
    <grid title [gap]="[8,16]" [direction]="'column'" [align]="'center-left'">
        <span class="f-16 f-03 fw-600 t-left">
            Notificaciones
        </span>
    </grid>
    <grid body [height]="'100%'">
        <grid [gap]="[16,16]" [direction]="'row'" [template]="'1fr max-content'" [height]="'100%'" class="baseline">
            <grid [direction]="'row'" [gap]="[16,16]">
                <grid [direction]="'column'" [template]="'1fr max-content'" [padding]="'1.5rem 1.25rem 0 1.5rem'">
                    <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'">
                        <nz-segmented [nzOptions]="facade.segments" [nzSize]="'default'"
                            (nzValueChange)="refresh($event)" [width]="'fit-content'"></nz-segmented>
                    </grid>
                    <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-right'">
                        <button (click)="refresh(selectedSegment, true)" outline small icon-google class="f-02">
                            <span class="material-symbols-outlined f-20 f-lh-16 fw-200">
                                cached
                            </span>
                        </button>
                    </grid>
                </grid>

                <grid *ngIf="busy === false && notifications.length > 0" [direction]="'row'" [gap]="[0,16]">
                    <ng-container *ngFor="let notification of notifications">
                        <button full medium flat flex class="brdr-bottom">
                            <grid [direction]="'row'" [gap]="[0,0]" [padding]="'0 1rem 0.25rem'">
                                <span class="f-14 f-01 f-lh-16 fw-600 t-left">
                                    {{notification.Title}}
                                </span>
                                <span class="f-13 f-05 f-lh-15 t-left">
                                    {{notification.Message}}
                                </span>
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                                    <status-badge [label]="notification.Readed ? 'Leído' : 'Sin leer'"
                                        [appearance]="notification.Readed ? 'default' : 'warning'" [size]="'m'" />
                                    <span class="f-12 f-07 f-lh-15">
                                        {{notification.created_At | dateFormat: 'DD MMM YYYY' | capitalization }}
                                    </span>
                                </grid>
                            </grid>
                        </button>
                    </ng-container>
                </grid>

                <grid *ngIf="busy === false && notifications.length === 0" [gap]="[8,8]" [direction]="'column'"
                    [align]="'center-center'" [padding]="'2rem'">
                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                    <span class="fw-400 f-06">No hay notificaciones disponibles</span>
                </grid>

                <grid *ngIf="busy === true" [gap]="[8,8]" [direction]="'column'" [align]="'center-center'"
                    [padding]="'2rem'">
                    <tui-loader [size]="'s'" />
                    Cargando...
                </grid>

            </grid>
        </grid>
    </grid>
</drawer>

<modal [(show)]="showConfirmModal" [closeLabel]="'Cerrar'" [confirmLabel]="'Si, confirmar'" [confirmStyle]="'warning'"
    (onConfirm)="markAllAsRead()" [width]="'356px'">
    <span class="f-16 fw-600 f-01" title>
        Marcar todas como leídas
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem'">
        <span class="f-13 f-01 f-lh-15">
            ¿Estás seguro de querer marcar todas como leídas?
        </span>
        <span class="f-13 f-06 f-lh-15">
            Esta acción marcará todas como leídas y no podrás deshacerla.
        </span>
    </grid>
</modal>