<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'calc(100vh - 49px)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" [padding]="'1rem'">
            <span class="fw-500 f-01 f-20 f-lh-22" padding="0.25rem 0 0 0">
                Notificaciones
            </span>
        </grid>
        <grid [gap]="[8,8]" [direction]="'column'" [template]="'1fr max-content'" height="100%"
            class="wrap brdr-top bg-02" padding="0.5rem 1rem">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <nz-segmented [nzOptions]="facade.segments" [nzSize]="'small'"
                    (nzValueChange)="facade.onSegmentChange($event)"></nz-segmented>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small (click)="facade.onMarkAllAsReadClick()">
                    Marcar todas como leídas
                </button>
            </grid>
        </grid>

        <grid [direction]="'row'" [align]="'top-left'" height="100%" width="100%"
            class="scroll-h scroll-v bg-02 baseline">
            <table [width]="isMobileOrTablet ? '800px' : '100%'">
                <thead>
                    <tr>
                        <th width="40px"> </th>
                        <th width="130px">Fecha</th>
                        <th>Titulo</th>
                        <th minWidth="150px">Mensaje</th>
                        <th width="130px">Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="facade.api.busy.value">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                    <tui-loader [size]="'m'" />
                                    Cargando...
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <tr *ngIf="facade.api.busy.value === false && facade.api.notifications.value?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay notificaciones disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="facade.api.busy.value === false">
                        <tr hoverable *ngFor="let item of facade.api.notifications.value; let i = index"
                            (click)="facade.onNotificationClick(item)">
                            <td>
                                <label nz-checkbox></label>
                            </td>
                            <td>{{item.created_At || '' | dateFormat: 'DD MMM YYYY' | capitalization }}</td>
                            <td>{{item.Title}}</td>
                            <td>{{item.Message}}</td>
                            <td>
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.Readed ? 'Leído' : 'No leído'"
                                        [appearance]="item?.Readed ? 'default' : 'warning'" [size]="'m'" />
                                </grid>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </grid>

        <grid [direction]="'column'" [template]="'1fr max-content'" padding="0.5rem 1rem">
            <grid [direction]="'column'" [align]="'center-left'">
                <button outline small flex prefix>
                    <tui-icon icon="@tui.arrow-left" class="f-16 f-06" />
                </button>
                <button outline small flex suffix>
                    <tui-icon icon="@tui.arrow-right" class="f-16 f-06" />
                </button>
            </grid>
            <grid [direction]="'column'" [align]="'center-right'">
                <button (click)="facade.fetchNotifications()" flat small flex>
                    <tui-icon icon="@tui.refresh-ccw" class="f-16 f-06" />
                    Actualizar
                </button>
            </grid>
        </grid>
    </grid>



</layout>