<grid [gap]="[8,8]" [direction]="'column'" [template]="'1fr max-content'" height="100%" class="wrap brdr-top bg-02"
    padding="0.5rem 1rem">
    <grid *ngIf="!isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
        <form *ngIf="showCalendar" [formGroup]="formGroup">
            <form-input type="date-range-dropdown" formControlName="date" />
        </form>
        <form *ngIf="showSelect" [formGroup]="formGroup" [width]="'150px'">
            <form-input type="select" formControlName="select" [placeholder]="'Seleccione'" [options]="options" />
        </form>
        <button outline small flex>
            <tui-icon icon="@tui.columns-3" class="f-16 f-06" />
            Columnas
        </button>
        <button outline small flex>
            <tui-icon icon="@tui.corner-left-up" class="f-16 f-06" />
            Ordenado por email
        </button>
    </grid>
    <grid *ngIf="isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
        <form [formGroup]="formGroup">
            <form-input type="date-range-dropdown" formControlName="date" [placeholder]="'Rango de fechas'" />
        </form>
        <button outline small icon-google>
            <span class="material-symbols-outlined f-20 f-02">
                filter_list
            </span>
        </button>
        <button outline small icon-google>
            <span class="material-symbols-outlined f-20 f-02">
                view_column
            </span>
        </button>
        <button outline small icon-google>
            <span class="material-symbols-outlined f-20 f-02">
                flex_direction
            </span>
        </button>
    </grid>
    <grid *ngIf="!isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
        <button primary small (click)="onCTAClick.emit()">
            {{ctaLabel}}
        </button>
    </grid>
</grid>