<grid [gap]="[8,8]" [direction]="'column'" [template]="'1fr max-content'" height="100%" class="wrap brdr-top bg-02"
    padding="0.5rem 1rem">
    <grid *ngIf="!isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
        <form *ngIf="showCalendar" [formGroup]="formGroup">
            <form-input type="date-range-dropdown" formControlName="date" />
        </form>
        <form *ngIf="showSelect" [formGroup]="formGroup" [width]="'150px'">
            <form-input type="select" formControlName="select" [placeholder]="'Seleccione'" [options]="options" />
        </form>
        <button *ngIf="showColumns" outline small flex>
            <tui-icon icon="@tui.columns-3" class="f-16 f-06" />
            Columnas
        </button>
        <button *ngIf="showSort" outline small flex icon-google>
            <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                arrow_upward
            </span>
            Ordenado por email
        </button>
    </grid>
    <grid *ngIf="isMobileOrTablet" [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
        <form [formGroup]="formGroup">
            <form-input type="date-range-dropdown" formControlName="date" [placeholder]="'Rango de fechas'" />
        </form>
        <button *ngIf="showSelect" outline small icon-google>
            <span class="material-symbols-outlined f-20 f-06">
                filter_list
            </span>
        </button>
        <button *ngIf="showColumns" outline small icon-google>
            <span class="material-symbols-outlined f-20 f-06">
                view_column
            </span>
        </button>
        <button *ngIf="showSort" outline small flex icon-google>
            <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                arrow_upward
            </span>
            Email
        </button>
    </grid>
    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
        <form *ngIf="!isMobileOrTablet" [formGroup]="formGroup" [width]="'180px'">
            <form-input type="search" formControlName="search" [placeholder]="'Buscar'" />
        </form>
        <button *ngIf="isMobileOrTablet" outline small icon-google>
            <span class="material-symbols-outlined f-20 f-lh-16 f-06">
                search
            </span>
        </button>
        <button *ngIf="!isMobileOrTablet" primary small (click)="onCTAClick.emit()">
            {{ctaLabel}}
        </button>
    </grid>
</grid>