<tui-accordion-item class="container" [open]="true" [size]="'s'">
  <span class="f-14 fw-500 f-05 f-lh-12">Comentarios</span>

  <ng-template tuiAccordionItemContent>
    <grid [direction]="'row'" [gap]="[16,16]">
      <!-- Agregar nuevo comentario -->
      <grid [direction]="'row'" [gap]="[16,16]">
        <span class="f-13 fw-400 f-07 f-lh-15">
          Agrega comentarios para mantener un historial de la conversación.
        </span>
        <form [formGroup]="facade.formComment">
          <form-input [type]="'textarea'" [placeholder]="'Escribe una nota'" [size]="'s'" formControlName="comment" />
        </form>
        <grid [direction]="'column'" [align]="'center-right'">
          <button primary small (click)="facade.addComment()" [disabled]="!canAddComment">
            Agregar Comentario
          </button>
        </grid>
      </grid>

      <!-- Lista de comentarios -->
      <grid [direction]="'row'" [gap]="[16,16]" *ngIf="comments && comments.length > 0">
        <span class="f-13 fw-500 f-06">Historial de comentarios</span>

        <grid [direction]="'row'" [gap]="[16,16]">
          <ng-container *ngFor="let comment of comments; let i = index">
            <grid [direction]="'column'" [template]="'max-content 1fr'">
              <nz-avatar [nzText]="getUserLetter(comment?.Author!)" nzShape="square" [nzGap]="0"
                class="bg-primary-hsl" />
              <nz-comment [nzAuthor]="comment.Author?.FullName" [nzDatetime]="getCreatedAt(comment.CreatedAt)">
                <nz-comment-content>
                  <span>{{ comment.Comment }}</span>
                </nz-comment-content>
              </nz-comment>
            </grid>
          </ng-container>
        </grid>
      </grid>

    </grid>
  </ng-template>
</tui-accordion-item>