<grid [direction]="'row'" [template]="'1fr'" [padding]="isMobile? '1rem 0.75rem': '0 1rem'" width="100%" height="100%">
    <grid [direction]="'column'" [template]="'1fr'" padding="0.5rem" height="100%" class="bg-spacial brdr-r-24">
        <table *ngIf="!isMobile">
            <thead>
                <tr>
                    <th>Bill ID</th>
                    <th>Customer</th>
                    <th>Due Date</th>
                    <th>Order Status</th>
                    <th>Amount</th>
                    <th>
                        <p class="f-14 f-lh-14 f-02 t-center" width="100%">
                            Actions
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>
                        <board-table-id [id]="item.id || '80005581'" />
                    </td>
                    <td>
                        <board-table-customer [id]="item.customerId || 0" [name]="item.customerName || 'John Due'" />
                    </td>
                    <td>
                        <board-table-due-date [date]="'12/12/2020'" [time]="'18:00'" [status]="'OnTime'" />
                    </td>
                    <td>
                        <board-table-order-status [status]="'Washing'" />
                    </td>
                    <td>
                        <board-table-amount [amount]="120" [status]="'Paid'" />
                    </td>
                    <td>
                        <grid [direction]="'column'" [align]="'center-center'">
                            <button tuiButton tuiRoundedButton [attr.tuiIconButton]="isMobileOrTablet ? true: null"
                                [size]="'s'" [appearance]="'primary'">
                                <tui-icon *ngIf="isMobileOrTablet" icon="@tui.chevron-right"
                                    class="f-18 fw-600 f-white" />
                                <span *ngIf="!isMobileOrTablet" class="f-12 fw-600 f-white">View</span>
                            </button>
                        </grid>
                    </td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="isMobile">
            <thead>
                <tr>
                    <th>
                        <span class="f-14 f-lh-14 f-02">
                            Order Detail
                        </span>
                    </th>
                    <th width="50px">
                        <p class="f-14 f-lh-14 f-02 t-right" width="100%">
                            Actions
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>
                        <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr 1fr'" height="100%">
                            <board-table-id [id]="item.id || '80005581'" />
                            <board-table-customer [id]="item.customerId || 0"
                                [name]="item.customerName || 'John Due'" />
                            <board-table-due-date [date]="'12/12/2020'" [time]="'12:00 PM'" [status]="'OnTime'" />
                            <board-table-order-status [status]="'Washing'" />
                            <board-table-amount [amount]="120" [status]="'Paid'" />
                        </grid>
                    </td>
                    <td>
                        <grid [direction]="'column'" [align]="'center-right'" height="100%">
                            <button tuiButton tuiRoundedButton [size]="'s'" [appearance]="'primary'">
                                <span class="f-12 fw-600 f-white">View</span>
                            </button>
                        </grid>
                    </td>
                </tr>
            </tbody>
        </table>
    </grid>
</grid>