:host {
    height: 100%;
}

table {
    padding: 0rem;
    border-radius: 1rem;
    width: 100%;
    border-spacing: 0 4px;
    /* horizontal spacing, vertical spacing */
    border-collapse: separate;
}

th {
    text-align: left;
    background-color: #fff;
    padding: 1.25rem 1.25rem;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: var(--text-02);
}

th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

td {    
    background-color: #fff;
    padding: 1rem 1.25rem;
}

td:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

td:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}