<layout>
    <grid [direction]="'row'" [gap]="[0,16]" class="baseline scroll-v">
        <grid [direction]="'column'" [template]="'1fr max-content'" [padding]="'1rem 1.5rem'" class="brdr-bottom">
            <grid [direction]="'row'" [padding]="'0.5rem 0 0 0'">
                <span class="f-01 f-21 f-lh-14 fw-400">
                    {{facade.organizationName}}
                </span>
                <span class="fw-600 f-07 {{isMobileOrTablet ? 'f-14' : 'f-12'}}">
                    Organización | Unidad de negocio
                </span>
            </grid>
            <grid [direction]="'column'" [align]="'center-right'">
                <status-badge [appearance]="'success'" [label]="'Activo'"></status-badge>
            </grid>
        </grid>
        <grid [direction]="'row'" [gap]="[16,16]" [padding]="'1rem 1.5rem 3rem 1.5rem'" class="baseline">
            <grid [gap]="[8,8]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr' : 'max-content max-content'"
                [width]="'100%'">
                <form [formGroup]="facade.formGroup">
                    <form-input #dateInput type="date-range-dropdown" formControlName="period" />
                </form>
                <grid [direction]="'column'" [align]="'center-left'" [height]="'100%'">
                    <span class="fw-500 f-lh-15 f-06 {{isMobileOrTablet ? 'f-14' : 'f-12'}}">
                        Estadísticas de rendimiento de
                        <span *ngIf="dateInput.dateDropdown" class="f-02">
                            {{dateInput.dateDropdown.inlineLabel | lowercase}}
                        </span>
                    </span>
                </grid>
            </grid>
            <grid [gap]="[16,16]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr' : '1fr 1fr 1fr'"
                [width]="'100%'">
                <grid [direction]="'row'" [minHeight]="'350px'" card default class="baseline">
                    <grid [direction]="'row'" [gap]="[16,0]">
                        <grid [direction]="'column'" [template]="'1fr max-content'">
                            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                                <button secondary small icon>
                                    <tui-icon icon="@tui.dollar-sign" class="f-14 f-06"></tui-icon>
                                </button>
                                <span class="f-02 f-18 fw-500">
                                    Ventas
                                </span>
                            </grid>
                            <grid [direction]="'column'" [align]="'center-right'" [height]="'100%'">
                                <span class="material-symbols-outlined f-18 fw-400 f-06">
                                    info
                                </span>
                            </grid>
                        </grid>
                        <grid [direction]="'row'" [gap]="[4,4]">
                            <span class="f-06 fw-400 f-14">
                                Ingresos totales
                            </span>
                            <span class="f-02 fw-500 f-20">
                                {{16 | numeralFormat: '$0,0.00'}}
                            </span>
                        </grid>
                    </grid>
                </grid>
                <grid [height]="'350px'" card default class="baseline">
                    <grid [direction]="'row'" [gap]="[16,16]">
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                            <button secondary small icon>
                                <tui-icon icon="@tui.zap" class="f-14 f-06"></tui-icon>
                            </button>
                            <span class="f-02 f-18 fw-500">
                                Pedidos
                            </span>
                        </grid>
                        <grid [direction]="'row'" [gap]="[4,4]">
                            <span class="f-06 fw-400 f-14">
                                Órdenes totales
                            </span>
                            <span class="f-02 fw-500 f-20">
                                {{1600 | numeralFormat: '0,0'}}
                            </span>
                        </grid>
                    </grid>
                </grid>
                <grid [height]="'350px'" card default class="baseline">
                    <grid [direction]="'row'" [gap]="[16,16]">
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                            <button secondary small icon>
                                <tui-icon icon="@tui.users" class="f-14 f-06"></tui-icon>
                            </button>
                            <span class="f-02 f-18 fw-500">
                                Clientes
                            </span>
                        </grid>
                        <grid [direction]="'row'" [gap]="[4,4]">
                            <span class="f-06 fw-400 f-14">
                                Total de clientes
                            </span>
                            <span class="f-02 fw-500 f-20">
                                {{1600 | numeralFormat: '0,0'}}
                            </span>
                        </grid>
                    </grid>
                </grid>

            </grid>

            <grid [direction]="'row'" [gap]="[8,8]">
                <span class="f-02 f-18 f-lh-14 fw-600">
                    Últimos pedidos
                </span>
                <span class="fw-500 f-lh-15 f-06 {{isMobileOrTablet ? 'f-14' : 'f-12'}}">
                    Top 10 de pedidos de ventas.
                </span>
            </grid>

            <grid [direction]="'row'" [align]="'top-left'" height="100%" [width]="'100%'"
                class="scroll-h scroll-v bg-02 baseline brdr-radius-6 brdr">
                <table [width]="isMobileOrTablet ? '800px' : '100%'">
                    <thead>
                        <tr>
                            <th width="80px">Order #</th>
                            <th width="100px">Fecha</th>
                            <th width="100px">Estatus</th>
                            <th>Cliente</th>
                            <th width="170px">Tipo de entrega</th>
                            <th width="80px">Pago</th>
                            <th width="85px">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="busy">
                            <tr>
                                <td colspan="9">
                                    <grid [direction]="'column'" [align]="'center-center'" padding="3rem 0">
                                        <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                            <tui-loader [size]="'m'" />
                                            Cargando...
                                        </grid>
                                    </grid>
                                </td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="busy === false && data?.length === 0">
                            <td colspan="8">
                                <grid [direction]="'column'" [align]="isMobileOrTablet ? 'center-left': 'center-center'"
                                    padding="3rem 2rem">
                                    <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                        <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                        <span class="fw-400 f-06">No hay pedidos para mostrar</span>
                                    </grid>
                                </grid>
                            </td>
                        </tr>
                        <ng-container *ngIf="busy === false">
                            <tr hoverable *ngFor="let item of data; let i = index"
                                (click)="ordersFacade.onOrderClick(item)" [class]="ordersDomain.statusColor(item)">

                                <td>{{item.OrderNumber}}</td>
                                <td>{{(item.createdAt || '') | dateFormat: 'DD MMM YYYY' | capitalization }}</td>
                                <td>
                                    <grid [direction]="'column'" [align]="'center-center'">
                                        <status-badge [label]="ordersDomain.statusName(item)" [size]="'m'"
                                            [appearance]="ordersDomain.statusColor(item)" />
                                    </grid>
                                </td>
                                <td>
                                    <tui-line-clamp [content]="titleClamp" [lineHeight]="18" [linesLimit]="1"
                                        class="f-13 fw-400 f-lh-14 t-left" />
                                    <ng-template #titleClamp>
                                        <span class="f-13 fw-400 f-01 f-lh-17 t-left">
                                            {{item.Customer?.FullName}}
                                        </span>
                                    </ng-template>
                                </td>
                                <td>
                                    {{deliveryDomain.deliveryTypeName(item.DeliveryType)}}
                                </td>
                                <td>
                                    <grid [direction]="'column'" [align]="'center-center'">
                                        <status-badge [label]="item?.PaymentStatus"
                                            [appearance]="getPaymentStatusAppearance(item)" [size]="'m'" />
                                    </grid>
                                </td>
                                <td>{{item.Total | numeralFormat: '$0,0.00'}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </grid>
        </grid>
    </grid>

</layout>