<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Cerrar'" [confirmStyle]="'success'"
    (onConfirm)="confirm()" (onClose)="close()" [disableConfirm]="false">
    <span title>
        Procesamiento de pedidos y entrega
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">

        <grid [direction]="'row'" [gap]="[16,16]">
            <span class="f-14 fw-500 f-06 f-lh-17">
                Algunas partidas necesitan ser procesadas.
                <span class="material-symbols-outlined f-info f-16 pointer" nz-tooltip
                    nzTooltipTitle="Algunas partidas necesitan ser procesadas antes de ser entregadas. Por ejemplo un restaurante necesita cocinar la orden o una lavandería necesita lavar la ropa antes de entregarla.">
                    info
                </span>
            </span>
            <grid [direction]="'row'" [gap]="[8,8]" [maxHeight]="'450px'" [padding]="'0 0.5rem 0 0'" width="100%"
                class="scroll-v">
                <grid *ngFor="let item of facade.orderItems.value" [gap]="[0,16]" [direction]="'column'"
                    [template]="'max-content 1fr max-content'" width="100%">
                    <grid [padding]="'0.25rem 0 0.5rem 0'">
                        <img src="{{item.ImageUrl}}" alt="{{item.Name}}" width="48" height="48"
                            (error)="utils.onImageError($event)" class="brdr-radius-4 img-cover" />
                    </grid>
                    <grid [direction]="'row'" [gap]="[4,4]" [padding]="'0.125rem 0 0.5rem 0'">
                        <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                            <status-badge [label]="itemsDomain.statusName(item)" [size]="'m'"
                                [appearance]="itemsDomain.statusColor(item)" />
                            <tui-line-clamp [content]="titleClamp" [lineHeight]="18" [linesLimit]="1"
                                class="f-13 fw-400 f-lh-14 t-left" />
                            <ng-template #titleClamp>
                                <span class="f-14 fw-600 f-01 f-lh-17 t-left">
                                    {{item.Name}}
                                </span>
                            </ng-template>
                        </grid>
                        <tui-line-clamp [content]="descriptionClamp" [lineHeight]="18" [linesLimit]="2"
                            class="f-13 fw-400 f-lh-14 t-left" />
                        <ng-template #descriptionClamp>
                            <span class="f-06">
                                {{item.Description}}
                            </span>
                        </ng-template>
                    </grid>
                    <grid [direction]="'row'" [gap]="[4,4]">
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                            <button (click)="processItem(item)" info small>
                                Procesar
                            </button>
                        </grid>
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                            <span class="f-13 fw-600 f-03">
                                {{item.Quantity | numeralFormat: '0,0.0'}}
                                {{item.UnitMeasure?.Abbreviation}}
                            </span>
                            <span class="f-13 fw-100 f-03">
                                X
                            </span>
                            <span class="f-13 fw-600 f-03">
                                {{item.Price | numeralFormat: '$0,0.00'}}
                            </span>
                        </grid>

                    </grid>
                </grid>
            </grid>

            <grid [direction]="'row'" [gap]="[16,16]" [height]="'1px'" class="brdr-top"></grid>

            <grid [direction]="'row'" [gap]="[16,16]">
                <span class="f-14 fw-500 f-06 f-lh-17">
                    Si deseas procesar todas las partidas, confirma la acción.
                </span>
                <button (click)="processAllItems()" info small full>
                    Procesar todas las partidas
                </button>
            </grid>

        </grid>

    </grid>
</modal>

<orders-items-processing-status [(show)]="showProcessItem" />