<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Cerrar'" [confirmStyle]="'success'"
    (onConfirm)="confirm()" (onClose)="close()" [disableConfirm]="false">
    <span title>
        Procesamiento de pedidos y entrega
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">

        <grid [direction]="'row'" [gap]="[16,16]">
            <grid [direction]="'column'" [align]="'center-left'" [gap]="[0,8]">
                <span class="f-14 fw-500 f-06 f-lh-17">
                    Algunas partidas necesitan ser procesadas.
                </span>
                <span class="material-symbols-outlined f-info pointer {{isMobileOrTablet ? 'f-18' : 'f-16'}}" nz-tooltip
                    nzTooltipTitle="Algunas partidas necesitan ser procesadas antes de ser entregadas. Por ejemplo un restaurante necesita cocinar la orden o una lavandería necesita lavar la ropa antes de entregarla.">
                    info
                </span>
            </grid>
            <grid [direction]="'row'" [gap]="[8,8]" [maxHeight]="'450px'" [padding]="'0 0.5rem 0 0'" width="100%"
                class="scroll-v">
                <grid *ngFor="let item of facade.orderItems.value" [gap]="[0,16]" [direction]="'column'"
                    [template]="'max-content 1fr max-content'" width="100%">
                    <grid [padding]="'0.25rem 0 0.5rem 0'">
                        <img src="{{item.ImageUrl}}" alt="{{item.Name}}" width="56" height="56"
                            (error)="utils.onImageError($event)" class="brdr-radius-4 img-cover" />
                    </grid>
                    <orders-item-description [item]="item" [order]="order" />
                    <grid [direction]="'row'" [gap]="[4,4]">
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                            <button *ngIf="!isMobileOrTablet" (click)="processItem(item)" info small>
                                Procesar
                            </button>
                            <button *ngIf="isMobileOrTablet" (click)="processItem(item)" info medium icon icon-google>
                                <span class="material-symbols-outlined f-16 f-05">
                                    wand_shine
                                </span>
                            </button>
                        </grid>
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                            <span class="f-14 fw-600 f-03 f-lh-17 t-right">
                                {{item.Quantity | numeralFormat: '0,0.0'}}
                                {{item.UnitMeasure?.Abbreviation}}
                            </span>
                        </grid>

                    </grid>
                </grid>
            </grid>

            <grid [direction]="'row'" [gap]="[16,16]" [height]="'1px'" class="brdr-top"></grid>

            <grid [direction]="'row'" [gap]="[16,16]">
                <span class="f-14 fw-500 f-06 f-lh-17">
                    Si lo deseas, puedes procesar todas las partidas.
                </span>
                <button (click)="processAllItems()" info small full>
                    Procesar todas las partidas
                </button>
            </grid>

        </grid>

    </grid>
</modal>

<orders-items-processing-status [(show)]="showProcessItem" />