<tui-accordion-item class="container" [open]="!collapsed" [size]="'s'">
    <span class="f-14 fw-500 f-06 f-lh-12">Dirección (opcional)</span>

    <ng-template tuiAccordionItemContent>
        <form [formGroup]="facade.formGroup">
            <grid [direction]="'row'" [gap]="[16,16]" [padding]="'0 0 1rem 0'">
                <form-input [label]="'Calle'" [type]="'text'" [placeholder]="'Calle'" formControlName="Street"
                    [required]="false" />
                <grid [gap]="[16,16]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr': '1fr 1fr'">
                    <form-input [label]="'# Exterior'" [type]="'text'" [placeholder]="'# Exterior'"
                        formControlName="ExtNumber" />
                    <form-input [label]="'# Interior'" [type]="'text'" [placeholder]="'# Interior'"
                        formControlName="IntNumber" />
                </grid>
                <form-input [label]="'Colonia'" [type]="'text'" [placeholder]="'Colonia'" formControlName="Neighborhood"
                    [required]="false" />
                <form-input [label]="'Municipio'" [type]="'text'" [placeholder]="'Municipio'"
                    formControlName="Municipality" [required]="false" />
                <grid [gap]="[16,16]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr': '1fr 1fr'">
                    <form-input [label]="'Estado'" [type]="'text'" [placeholder]="'Estado'" formControlName="State"
                        [required]="false" />
                    <form-input [label]="'Código postal'" [type]="'text'" [placeholder]="'Código postal'"
                        formControlName="ZipCode" [required]="false" />
                </grid>

                <form-input [label]="'País'" [type]="'text'" [placeholder]="'País'" formControlName="Country"
                    [disabled]="true" />
            </grid>
        </form>
    </ng-template>
</tui-accordion-item>