<grid [direction]="'column'" [template]="'1fr max-content'">
    <grid [gap]="[16,16]" [direction]="'row'">
        <grid [gap]="[16,16]" [direction]="isMobileOrTablet ? 'row':'column'" [align]="'top-left'" height="fit-content">
            <grid [direction]="'row'" [gap]="isMobileOrTablet ? [8,8] : [0,8]">
                <grid [direction]="'column'" [align]="'top-left'" [gap]="isMobileOrTablet ? [8,8] : [8,16]">
                    <grid [direction]="'column'" [align]="'top-left'" [height]="'100%'">
                        <button (click)="onBack()" outline small icon-google>
                            <span class="material-symbols-outlined f-16 f-04 f-lh-18">
                                chevron_backward
                            </span>
                        </button>
                    </grid>
                    <grid [gap]="[4,8]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr': '1fr max-content'">
                        <span class="fw-600 f-01 f-18">
                            {{facade.edition ? '' : 'Nuevo producto'}}
                            <label *ngIf="!busy" [ngClass]="{'skeleton': busy}">
                                {{productName || ''}}
                            </label>
                        </span>
                        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" [height]="'100%'"
                            class="wrap">
                            <tui-loader *ngIf="busy" />
                            <status-badge *ngIf="facade.edition === false" [label]="'Borrador'" [size]="'m'"
                                [appearance]="'warning'" />
                            <status-badge *ngIf="!busy && facade.edition === true" [label]="productStatus" [size]="'m'"
                                [appearance]="productStatusAppearance" />
                        </grid>
                    </grid>
                </grid>
                <span class="f-13 fw-400 f-06 f-lh-16" [padding]="isMobileOrTablet ? '0px 0px 0px 2.5rem' : '0px 0px 0px 3rem'">
                    {{dateCreated | dateFormat: 'DD/MM/yyyy [a las] hh:mm A' }}
                </span>
            </grid>
        </grid>

    </grid>

    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'">
        <button (click)="saveProduct()" [disabled]="busy || canSave === false" [showLoader]="busy" outline small
            primary>
            Guardar
        </button>
        <button *ngIf="facade.edition === true" outline small icon-google [disabled]="busy" [showLoader]="busy"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <span class="material-symbols-outlined f-20 f-01 fw-400">
                more_vert
            </span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <grid [gap]="[2,8]" [direction]="'row'" [padding]="'0.5rem'" class="bg-02 brdr-radius-6 shadow-01">
                <span class="f-12 f-03 fw-300" [padding]="'0.5rem 0 0.5rem 0.5rem'">
                    Acciones
                </span>
                <button flat small flex [width]="'100%'" class="f-13 f-03" (click)="facade.showDeleteModal = true">
                    <tui-icon icon="@tui.trash" class="f-12 fw-100 f-error" />
                    Eliminar
                </button>
            </grid>
        </nz-dropdown-menu>
    </grid>

</grid>

<products-confirm-delete-modal [(show)]="facade.showDeleteModal" (onConfirm)="facade.onDelete()" />