<button *ngIf="!isMobileOrTablet" outline small flex icon-google (click)="openModal()">
    <span class="material-symbols-outlined f-20 f-lh-16 f-06">
        arrow_upward
    </span>
    Ordenar por {{selectedColumnName}}
</button>

<grid *ngIf="isMobileOrTablet" [direction]="'row'" [align]="'center-right'" [padding]="'1px 0 0 0'">
    <button outline small flex icon-google (click)="openModal()">
        <span class="material-symbols-outlined f-20 f-lh-16 f-06">
            arrow_upward
        </span>
        {{selectedColumnName}}
    </button>
</grid>

<modal [(show)]="showModal" [closeLabel]="'Cancelar'" [confirmLabel]="'Aceptar'" [confirmStyle]="'success'"
    (onConfirm)="confirm()" (onClose)="close()" [width]="'350px'">
    <span class="f-16 fw-600 f-01" title>
        Ordenar tabla por {{selectedColumnName}}
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem'">
        <grid [direction]="'row'" [gap]="[24,16]">
            <grid [direction]="'row'" [gap]="[0,16]">
                <span class="f-14 f-lh-16 fw-400 f-06 t-left">
                    Columnas:
                </span>
                <nz-radio-group [(ngModel)]="selectedColumn">
                    <label nz-radio [nzValue]="column.key" *ngFor="let column of columns">{{column.label}}</label>
                </nz-radio-group>
            </grid>
            <grid [direction]="'row'" [gap]="[8,8]">
                <span class="f-14 f-lh-16 fw-400 f-06 t-left">
                    Ordernar de manera:
                </span>
                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                    <nz-switch nzSize="small" [(ngModel)]="isAsc">
                    </nz-switch>
                    <span class="f-14 f-lh-16 fw-400 f-06 t-left">
                        Ordernar de manera
                        <span class="fw-600 f-01">
                            {{isAsc ? 'ascendente' : 'descendente'}}
                        </span>
                    </span>
                </grid>
            </grid>
        </grid>
    </grid>
</modal>