<tui-accordion-item class="container" [open]="true" [size]="'s'">

    <grid [gap]="[16,12]" [direction]="'column'" [align]="'center-left'">
        <span class="f-14 fw-500 f-05 f-lh-12">Partidas del pedido</span>
    </grid>

    <ng-template tuiAccordionItemContent>
        <grid *ngIf="itemsCount === 0" [direction]="'row'" [gap]="[16,16]">
            <grid [gap]="[8,8]" [direction]="'row'" padding="1rem 0.25rem" height="100%" [width]="'100%'">
                <span class="f-14 fw-500 f-06 f-lh-17">
                    Aún no has agregado productos a este pedido.
                </span>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%" padding="1rem 0 0 0"
                class="border-top-02">
                <button *ngIf="canSearchProduct" secondary small (click)="facade.showSearchProduct = true">
                    Buscar producto
                </button>
            </grid>
        </grid>
        <grid *ngIf="itemsCount > 0" [direction]="'row'" [gap]="[16,16]" [padding]="'0.5rem 0.25rem 0'">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" height="100%">
                <span class="f-14 fw-500 f-06 f-lh-17">
                    Articulos:
                </span>
            </grid>
            <grid *ngFor="let item of orderItems" [gap]="[0,16]" [direction]="'column'"
                [template]="'max-content 1fr max-content'" width="100%">
                <grid [padding]="'0.25rem 0 0.5rem 0'">
                    <img src="{{item.ImageUrl}}" alt="{{item.Name}}" width="48" height="48"
                        (error)="utils.onImageError($event)" class="brdr-radius-4 img-cover" />
                </grid>
                <grid [direction]="'row'" [gap]="[4,4]" [padding]="'0.125rem 0 0.5rem 0'">
                    <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                        <status-badge *ngIf="canProcessOrder === true" [label]="itemsDomain.statusName(item)"
                            [appearance]="itemsDomain.statusColor(item)" [size]="'m'" />
                        <tui-line-clamp [content]="titleClamp" [lineHeight]="18" [linesLimit]="1"
                            class="f-13 fw-400 f-lh-14 t-left" />
                        <ng-template #titleClamp>
                            <span class="f-14 fw-600 f-01 f-lh-17 t-left">
                                {{item.Name}}
                            </span>
                        </ng-template>
                    </grid>
                    <tui-line-clamp [content]="descriptionClamp" [lineHeight]="18" [linesLimit]="2"
                        class="f-13 fw-400 f-lh-14 t-left" />
                    <ng-template #descriptionClamp>
                        <span class="f-06">
                            {{item.Description}}
                        </span>
                    </ng-template>
                </grid>
                <grid [direction]="'row'" [gap]="[4,4]">
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                        <span class="f-13 fw-600 f-03">
                            {{item.Quantity | numeralFormat: '0,0.0'}}
                            {{item.UnitMeasure?.Abbreviation}}
                        </span>
                        <span class="f-13 fw-100 f-03">
                            X
                        </span>
                        <span class="f-13 fw-600 f-03">
                            {{item.Price | numeralFormat: '$0,0.00'}}
                        </span>
                    </grid>
                    <grid *ngIf="canSearchProduct" [gap]="[8,8]" [direction]="'column'" [align]="'center-right'"
                        height="100%">
                        <button small icon outline icon-google (click)="facade.openAdjustQuantity(item)">
                            <span class="material-symbols-outlined f-16 f-05">
                                add
                            </span>
                        </button>
                        <button (click)="facade.openConfirmDelete(item)" small icon outline icon-google>
                            <span class="material-symbols-outlined f-16 f-error">
                                delete
                            </span>
                        </button>
                    </grid>
                </grid>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%" padding="1rem 0 0 0"
                class="border-top-02">
                <button *ngIf="canProcessOrder === true" success small (click)="facade.showItemsProcessing = true">
                    Procesar partidas
                </button>
                <button *ngIf="canSearchProduct" secondary small (click)="facade.showSearchProduct = true">
                    Buscar producto
                </button>
            </grid>
        </grid>
    </ng-template>
</tui-accordion-item>

<orders-search-product [(show)]="facade.showSearchProduct" />
<orders-adjust-quantity [(show)]="facade.showAdjustQuantity" />
<orders-items-processing [(show)]="facade.showItemsProcessing" />


<modal-confirm [(show)]="facade.showConfirmDelete" (onConfirm)="facade.onDeleteItem()">
    <span title>
        Eliminar partida
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">
        <span class="f-14 fw-600 f-01">
            ¿Estás seguro de querer eliminar la partida?
        </span>
        <span class="f-14 f-lh-17 fw-400 f-05">
            Si deseas eliminar la partida, confirma la acción.
        </span>
    </grid>
</modal-confirm>