<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'var(--full-vh)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" [padding]="'1rem'">
            <span class="fw-500 f-01 f-20 f-lh-22" padding="0.25rem 0 0 0">
                Sucursales
            </span>
            <span class="material-symbols-outlined f-info f-16 pointer" nz-tooltip
                nzTooltipTitle="Tienes hasta {{maxLocations}} sucursal disponible en tu plan.">
                info
            </span>
        </grid>

        <table-filters [tableFilter]="facade.tableFilter.value" [ctaLabel]="'Nueva sucursal'" [columns]="facade.columns"
            [segments]="facade.segments" [showType]="facade.showType"
            [defaultSortBy]="facade.tableFilter.value?.sortBy!" (onCtaClick)="facade.onNewLocationClick()"
            (onFiltersChange)="facade.onFiltersChange($event)" (columnsChange)="facade.onColumnsChange($event)" />

        <grid [direction]="'row'" [align]="'top-left'" height="100%" width="100%"
            class="scroll-h scroll-v bg-02 baseline">
            <table [width]="isMobileOrTablet ? '900px' : '100%'">
                <thead>
                    <tr>
                        <th width="40px"> </th>
                        <ng-container *ngFor="let column of columns">
                            <th [width]="column.width" *ifColumn="{columns: columns, key: column.key}">{{column.label}}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="facade.api.busy.value">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr'" class="f-03">
                                    <tui-loader [size]="'m'" />
                                    Cargando...
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <tr *ngIf="busy === false && data?.length === 0">
                        <td colspan="9">
                            <grid [direction]="'column'" [align]="'center-center'" padding="2rem 0">
                                <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'" class="f-15">
                                    <tui-icon icon="@tui.inbox" class="f-20 f-06" />
                                    <span class="fw-400 f-06">No hay sucursales disponibles</span>
                                </grid>
                            </grid>
                        </td>
                    </tr>
                    <ng-container *ngIf="busy === false">
                        <tr hoverable *ngFor="let item of data; let i = index" (click)="facade.onLocationClick(item)">
                            <td>
                                <label nz-checkbox></label>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Disabled'}">
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.Disabled ? 'Inactiva' : 'Activa'"
                                        [appearance]="item?.Disabled ? 'error' : 'success'" [size]="'m'" />
                                </grid>
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Name'}">
                                {{item.Name}}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'created_at'}">
                                {{item.created_at || '' | dateFormat: 'DD MMMM[,] YYYY' | capitalization }}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Phone'}">
                                {{item.Phone}}
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Address'}">
                                <tui-line-clamp [content]="item.Address || '-' | capitalization" [lineHeight]="20"
                                    [linesLimit]="1" />
                            </td>
                            <td *ifColumn="{columns: columns, key: 'Default'}">
                                <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-center'" width="100%">
                                    <status-badge [label]="item?.Default ? 'Predeterminado' : 'No predeterminado'"
                                        [appearance]="item?.Default ? 'success' : 'default'" [size]="'m'" />
                                </grid>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </grid>

        <table-pagination [rowCount]="rowCount" (onChange)="facade.onTablePaginationChange($event)" />
    </grid>



</layout>

<locations-drawer-draft [(show)]="facade.showLocationDrawer" (showChange)="facade.fetchLocations()" />