<nz-drawer [nzClosable]="closable" [nzMaskClosable]="closable" [(nzVisible)]="show" [nzPlacement]="'right'"
    [nzTitle]="undefined" (nzOnClose)="close()" [nzWidth]="large">
    <ng-container *nzDrawerContent>
        <grid [direction]="'row'" [gap]="[0,0]" [height]="isMobileOrTablet ? 'calc(100vh - 24px)' : '100vh'" [padding]="'0rem'"
            [template]="'max-content 1fr max-content'">
            <grid [direction]="'column'" [template]="'1fr max-content'" [padding]="'0.75rem 1.5rem'"
                class="brdr-bottom">
                <span class="f-16 f-03 fw-600 t-left">
                    <ng-content select="[title]"></ng-content>
                </span>
                <grid [direction]="'column'" [align]="'center-right'" [height]="'100%'">
                    <tui-icon icon="@tui.x" class="f-16 fw-100 f-07 pointer" (click)="close()" />
                </grid>
            </grid>
            <grid [direction]="'column'" [template]="'1fr'" [width]="'100%'" height="100%" class="scroll-v">
                <ng-content select="[body]"></ng-content>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" [padding]="'1rem 1.5rem'"
                class="brdr-top">
                <button outline small [disabled]="busy" (click)="close()">
                    {{closeLabel}}
                </button>
                <button #buttonConfirm small [disabled]="busy" [showLoader]="busy" (click)="confirm()">
                    {{confirmLabel}}
                </button>
            </grid>
        </grid>
    </ng-container>
</nz-drawer>