<tui-accordion-item class="container" [open]="true" [size]="'s'">
    <span class="f-14 fw-500 f-05 f-lh-12">Entrega</span>

    <ng-template tuiAccordionItemContent>

        <grid [direction]="'row'" [gap]="[16,16]">
            <span class="f-13 fw-400 f-06 f-lh-17">
                Selecciona el tipo de entrega del pedido
            </span>

            <ng-container *ngIf="hadCustomer">
                <grid [direction]="'row'" [gap]="[6,8]">
                    <span class="f-14 fw-400 f-07 f-lh-14">
                        Tipo de entrega:
                    </span>
                    <span class="f-14 fw-400 f-02 f-lh-14">
                        {{deliveryTypeText}}
                    </span>
                </grid>
                <ng-container *ngIf="isDelivery">
                    <grid [direction]="'row'" [gap]="[8,8]">
                        <span class="f-14 fw-400 f-07 f-lh-14">
                            Dirección:
                        </span>
                        <span class="f-14 fw-400 f-02 f-lh-14">
                            {{orderDelivery?.Address}}
                        </span>
                    </grid>
                    <grid [direction]="'row'" [gap]="[8,8]">
                        <span class="f-14 fw-400 f-07 f-lh-14">
                            Fecha de entrega:
                        </span>
                        <span class="f-14 fw-400 f-02 f-lh-14">
                            {{orderDelivery?.Date}}
                        </span>
                    </grid>
                    <grid [direction]="'row'" [gap]="[8,8]">
                        <span class="f-14 fw-400 f-07 f-lh-14">
                            Horario de entrega:
                        </span>
                        <span class="f-14 fw-400 f-02 f-lh-14">
                            {{orderDelivery?.Time}}
                        </span>
                    </grid>
                    <grid [direction]="'row'" [gap]="[8,8]">
                        <span class="f-14 fw-400 f-07 f-lh-14">
                            Costo de envío:
                        </span>
                        <span class="f-14 fw-400 f-02 f-lh-14">
                            {{orderDelivery?.Cost}}
                        </span>
                    </grid>
                    <grid [direction]="'row'" [gap]="[8,8]">
                        <span class="f-14 fw-400 f-07 f-lh-14">
                            Instrucciones:
                        </span>
                        <span class="f-14 fw-400 f-02 f-lh-14">
                            {{orderDelivery?.Indications}}
                        </span>
                    </grid>
                </ng-container>


                <grid [direction]="'column'" [align]="'center-right'">
                    <button (click)="facade.openAdjustDelivery()" secondary small
                        [disabled]="canAdjustDelivery">
                        Cambiar entrega
                    </button>
                </grid>

            </ng-container>


        </grid>

    </ng-template>
</tui-accordion-item>

<orders-adjust-delivery [(show)]="facade.showAdjustDelivery" />