<tui-accordion-item class="container" [open]="true">
    <span class="f-16 fw-600 f-02 f-lh-14">
        Delivery
    </span>
    <ng-template tuiAccordionItemContent>
        <grid *ngIf="edition === false" [direction]="'row'" [gap]="[16,16]">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <tui-icon icon="@tui.user" class="f-18 fw-600 f-02" />
                <a href="open" class="f-14 fw-400 f-02 f-lh-14 link">
                    <span class="f-14 fw-400 f-02 f-lh-14">
                        Oscar Isaac Hernandez
                    </span>
                </a>
            </grid>

            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <tui-icon icon="@tui.map-pin-house" class="f-18 f-02" />
                <span class="f-14 fw-400 f-02 f-lh-16">
                    Avenida de la reforma 233, Col. Centro, CDMX, México, 06000
                </span>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">

                <a href="https://goo.gl/maps/7ZC8Q6" target="_blank" class="f-14 fw-400 f-02 f-lh-14 link">
                    Edit Address
                </a>
            </grid>
        </grid>

        <grid *ngIf="edition === true" [direction]="'row'" [gap]="[16,16]">
            <grid [direction]="'column'" [align]="'center-left'">
                <span class="f-15 fw-400 f-04 f-lh-17">
                    Select a customer to asjust the delivery
                </span>
            </grid>
            <form tuiGroup [orientation]="'vertical'" class="group" [collapsed]="false" [formGroup]="formGroup">
                <label tuiBlock>
                    <input formControlName="deliveryType" tuiRadio type="radio" value="pickup" />
                    <grid [direction]="'row'" [gap]="[4,16]">
                        <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                            <tui-icon icon="@tui.store" class="f-20 f-02" />
                            <span class="f-15 fw-600 f-02 f-lh-17">
                                Pickup
                            </span>
                        </grid>
                        <span class="f-15 fw-400 f-04 f-lh-17">
                            Pick up the order at the store
                        </span>
                    </grid>
                </label>
                <label tuiBlock>
                    <input formControlName="deliveryType" tuiRadio type="radio" value="delivery" />
                    <grid [gap]="[8,8]" [direction]="'row'">
                        <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'">
                            <tui-icon icon="@tui.house" class="f-20 f-02" />
                            <span class="f-15 fw-600 f-02 f-lh-17">
                                Delivery
                            </span>
                        </grid>
                        <grid [direction]="'row'" [gap]="[16,16]">
                            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                                <span class="f-15 fw-400 f-02 f-lh-17">
                                    Delivery on the address:
                                </span>
                            </grid>
                        </grid>
                        <grid *ngIf="hadCustomer" [gap]="[8,16]" [direction]="'row'">
                            <span class="f-14 fw-400 f-04 f-lh-16">
                                {{order?.customer?.Address ?? ''}}
                                at
                                <span class="f-15 fw-600 f-02 f-lh-17">
                                    <!-- {{ order?.customer?.address?.distanceKm ?? 0 | numeralFormat: '0,0.0'}} -->
                                    km of distance
                                </span>
                                with a delivery fee of
                                <span class="f-15 fw-600 f-primary f-lh-17">
                                    {{ order?.deliveryFee ?? 0 | numeralFormat: '$0,0.00'}}
                                </span>
                            </span>
                            <grid [direction]="'column'" [align]="'center-right'">
                                <button (click)="openAdjustDelivery()" tuiButton [appearance]="'primary'" [size]="'m'">
                                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" class="fw-500">
                                        Adjust Delivery
                                    </grid>
                                </button>
                            </grid>
                        </grid>
                    </grid>
                </label>
            </form>
        </grid>

    </ng-template>
</tui-accordion-item>

<orders-adjust-delivery [(show)]="showAdjustDelivery" [(order)]="order!" />