<grid [direction]="'column'" [align]="'top-left'" height="calc(100vh - 59px)">
    <grid [gap]="[16,16]" [direction]="'row'" [template]="'1fr max-content'" height="100%" width="100%">
        <menu width="100%">
            <menu-item [collapsed]="collapsed" [icon]="'location_away'" [iconType]="'google'" [label]="'Inicio'"
                [urlBase]="routes.Home" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'box'" [iconType]="'google'" [label]="'Pedidos'"
                [urlBase]="routes.Orders" [link]="routes.Orders" [isGroup]="false" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'group'" [iconType]="'google'" [label]="'Clientes'"
                [urlBase]="routes.Customers" [link]="routes.Customers" [isGroup]="false" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'notifications'" [iconType]="'google'" [label]="'Notificaciones'"
                [urlBase]="routes.Notifications" [link]="routes.Notifications" [isGroup]="false" [level]="0" />

            <grid class="brdr-bottom" [width]="'100%'" [height]="'2px'" [margin]="'0.20rem 0 0.5rem'" />

            <menu-item [collapsed]="collapsed" [icon]="'apparel'" [iconType]="'google'" [label]="'Productos'"
                [urlBase]="routes.Products" [link]="routes.Products" [isGroup]="false" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'pin_drop'" [iconType]="'google'" [label]="'Sucursales'"
                [urlBase]="routes.Locations" [link]="routes.Locations" [isGroup]="false" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'user-round'" [label]="'Usuarios'" [urlBase]="routes.Users"
                [link]="routes.Users" [isGroup]="false" [level]="0" />

            <grid class="brdr-bottom" [width]="'100%'" [height]="'2px'" [margin]="'0.20rem 0 0.5rem'" />

            <menu-item [collapsed]="collapsed" [icon]="'chart-line'" [label]="'Reportes'" [urlBase]="routes.Reports"
                [link]="routes.Reports" [isGroup]="false" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'headset'" [label]="'Soporte'" [urlBase]="routes.Support"
                [link]="routes.Support" [isGroup]="false" [level]="0" />
            <menu-item [collapsed]="collapsed" [icon]="'settings'" [label]="'Configuración'" [urlBase]="routes.Settings"
                [link]="routes.Settings" [isGroup]="false" [level]="0" />
        </menu>
        <menu>
            <!-- Settings -->
            <menu-item [collapsed]="collapsed" [icon]="'panel-left-open'" [label]="''" [urlBase]="routes.None"
                [level]="0" />
        </menu>
    </grid>
</grid>