<tui-segmented *ngIf="isMobileOrTablet === false" [size]="'m'" [(activeItemIndex)]="indexTab"
    (activeItemIndexChange)="onChangeTab($event)" width="fit-content">
    <button *ngFor="let option of options;let i= index" type="button" minWidth="3.5rem">
        <span class="f-15 lttr-01" [ngClass]="{'fw-600 f-primary': indexTab === i}">
            {{option.label}}
        </span>
    </button>
</tui-segmented>
<grid *ngIf="isMobileOrTablet === true" [direction]="'column'" [align]="'center-right'" height="100%">
    <button tuiButton appearance="secondary" tuiChevron type="button" [size]="'m'" [tuiDropdown]="contentCustomerTypes"
        [tuiDropdownMaxHeight]="500" [(tuiDropdownOpen)]="showOptions">
        <span class="f-15 fw-600 f-lh-18 t-left">
            {{segment}}
        </span>
    </button>
</grid>
<ng-template #contentCustomerTypes>
    <tui-data-list [style.width.rem]="12" [size]="'m'">
        <tui-opt-group>
            <tui-opt-group label="Order Types">
                <button *ngFor="let option of options;let i=index" (click)="onSelectOption(option)" tuiOption
                    type="button" [value]="option">
                    <span class="f-15  f-lh-13"
                        [ngClass]="{'fw-600 f-primary': i===indexTab, 'fw-500 f-02': i!==indexTab}">
                        {{ option.label }}
                    </span>
                </button>
            </tui-opt-group>
        </tui-opt-group>
    </tui-data-list>
</ng-template>