<button (click)="onClick()" [routerLink]="link && loading === false ? link: null" [loading]="loading"
    [tuiSkeleton]="loading" [disabled]="disabled || loading" tuiButton [attr.tuiIconButton]="isMobile ? true: null"
    [appearance]="appearance" [size]="size">
    <grid [gap]="[4,4]" [direction]="'column'" [align]="'center-left'">
        <tui-icon *ngIf="isMobile" icon="@tui.{{icon}}" class="fw-600 f-03"
            [ngClass]="{'f-15': !isMobile, 'f-17': isMobile, 'f-white': appearance === 'primary', 'f-03': appearance !== 'primary'}" />
        <span *ngIf="!isMobile" class="f-15 fw-500" padding="2px 0 0"
            [ngClass]="{'f-white': appearance === 'primary', 'f-03': appearance !== 'primary'}">
            {{label}}
        </span>
    </grid>
</button>