<tui-accordion-item class="container" [open]="true" [size]="'s'">
    <span class="f-14 fw-500 f-05 f-lh-12">Generales</span>

    <ng-template tuiAccordionItemContent>
        <form [formGroup]="facade.formGroup">
            <grid [direction]="'row'" [gap]="[8,8]">
                <grid [gap]="[8,16]" [direction]="'row'">
                    <form-input [label]="'Nombre'" [type]="'text'" [placeholder]="'Nombre del producto'"
                        formControlName="name" [required]="true" />
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" [padding]="'0 0 0.25rem 0'">
                        <span class="f-13 f-lh-16 f-06">
                            👉🏽 Este nombre se mostrará en el ticket de venta.
                        </span>
                    </grid>

                    <form-input [label]="'Descripción'" [type]="'textarea'" [placeholder]="'Describe tu producto'"
                        formControlName="description" [required]="true" />
                    <form-input [label]="'Categoría'" [type]="'select'" [placeholder]="'Seleccione una categoría'"
                        formControlName="categoryId" [required]="true" [options]="facade.api.productCategories.value" />
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'" [padding]="'0 0 0.25rem 0'">
                        <span class="f-13 f-lh-16 f-06">
                            Seleccionar una categoría te ayudará a organizar tus productos y generar estadísticas.
                        </span>
                    </grid>
                </grid>



            </grid>
        </form>
 
    </ng-template>
</tui-accordion-item>