<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Confirmar'" [confirmStyle]="'success'"
    (onConfirm)="confirm()" (onClose)="close()" [busy]="busy" [disableConfirm]="canSave === false">
    <span title>
        Búsqueda de cliente
    </span>

    <grid body [direction]="'row'" [gap]="[8,8]" padding="1rem 1.5rem">
        <grid [direction]="'row'" width="100%">
            <span class="f-14 fw-400 f-05 f-lh-15">
                ¿Quien es el cliente a quien le vas a entregar el pedido?
            </span>
        </grid>

        <!-- Dry Cleaning -->
        <grid [direction]="'row'" [gap]="[16,16]" width="100%">
            <form [formGroup]="formGroup" width="100%">
                <grid [direction]="'row'" [gap]="[24,16]" width="100%" [padding]="'0 0 1rem 0'" [maxHeight]="'450px'"
                    class="scroll-v">
                    <form-input [type]="'search'" [placeholder]="'Comienza a escribir para buscar'"
                        formControlName="search" (onSearch)="facade.fetchCustomers($event)" />

                    <ng-container *ngIf="customers.length === 0">
                        <grid [direction]="'row'" [gap]="[16,16]" width="100%" padding="0 0 0.5rem 0">
                            <span class="f-13 fw-400 f-06 f-lh-16">
                                {{search.value ?
                                'No hay clientes registrados.' :
                                'Comience a escribir para buscar un cliente.'
                                }}
                            </span>
                        </grid>
                    </ng-container>
                    <grid *ngIf="customers.length > 0" [direction]="'row'" [gap]="[0,0]" width="100%">
                        <ng-container *ngFor="let cust of customers">
                            <button full medium flat flex [attr.selected]="cust?.id === customer?.id"
                                (click)="selectCustomer(cust)" class="brdr-bottom">
                                <grid [gap]="[0,16]" [direction]="'column'" [template]="'1fr max-content'" width="100%">
                                    <grid [direction]="'row'" [gap]="[0,8]">
                                        <span class="f-14 fw-600 f-01 f-lh-17 t-left">
                                            {{cust.FullName}}
                                        </span>
                                        <span class="f-13 fw-400 f-06 f-lh-16 t-left">
                                            {{cust.Address}}
                                        </span>
                                    </grid>
                                    <grid [direction]="'column'" [align]="'center-right'" height="100%">
                                        <span class="f-13 fw-600 f-03">
                                            {{cust.TotalOrders || 0 | numeralFormat: '0,0'}} pedidos
                                        </span>
                                    </grid>
                                </grid>
                            </button>
                        </ng-container>
                    </grid>
                </grid>
            </form>
        </grid>
    </grid>
</modal>