<form *ngIf="!isMobileOrTablet" [formGroup]="formGroup" [width]="'180px'">
    <form-input type="search" formControlName="search" [placeholder]="'Buscar'"
        (onSearch)="isMobileOrTablet ? null : onSearchClick()" />
</form>


<grid *ngIf="isMobileOrTablet" [direction]="'row'" [align]="'center-right'" [padding]="'1px 0 0 0'">
    <nz-badge [nzShowDot]="showDot" nzDot="true" nzSize="small">
        <button outline small icon-google (click)="openModal()">
            <span class="material-symbols-outlined f-20 f-06 f-lh-20">
                search
            </span>
        </button>
    </nz-badge>
</grid>

<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="'Buscar'" [confirmStyle]="'success'"
    (onConfirm)="onSearchClick()" (onClose)="close()" [width]="isMobileOrTablet ? '100vw' : '450px'">
    <span class="f-16 fw-600 f-01" title>
        Buscar
    </span>
    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem'">
        <span class="f-13 f-lh-16 fw-400 f-06 t-left">
            Ingresa el texto que deseas buscar y presiona el botón de buscar.
        </span>
        <form [formGroup]="formGroup" [width]="'100%'">
            <form-input type="search" formControlName="search" [placeholder]="'Buscar'" (onSearch)="null" />
        </form>
    </grid>
</modal>