<ng-container *ngIf="hasNgContent">
    <li nz-submenu [nzTitle]="template" [nzOpen]="isOpen" [tuiHint]="collapsed ? badgeHint : null"
        tuiHintDirection="right">
        <ul>
            <ng-content></ng-content>
        </ul>
    </li>
</ng-container>

<ng-container *ngIf="hasNgContent === false">
    <li nz-menu-item [nzSelected]="isOpen && isGroup === false" [routerLink]="link"
        [tuiHint]="collapsed ? badgeHint : null" tuiHintDirection="right">
        <ng-container *ngTemplateOutlet="template"></ng-container>
    </li>
</ng-container>

<ng-template #template>
    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
        <tui-icon *ngIf="icon && iconType === 'tui'" icon="@tui.{{icon}}" class="menu-item-icon f-16 f-06 fw-100" />
        <span *ngIf="icon && iconType === 'google'" class="material-symbols-outlined menu-item-icon left-3px f-21 f-06 fw-300">
            {{icon}}
        </span>
        <span *ngIf="!collapsed" padding="0.3rem 0 0 0" class="menu-item-label f-14 f-lh-24 f-06" [ngClass]="{ 
                'fw-400':!bold, 
                'fw-500': bold, 
            }">
            {{label}}
        </span>
    </grid>
</ng-template>

<ng-template #badgeHint>
    <span class="fw-500 f-14 f-white" padding="0.75rem 0 0 0">
        {{label}}
    </span>
</ng-template>