<tui-accordion-item class="container" [open]="!collapsed" [size]="'s'">
    <span class="f-14 fw-500 f-06 f-lh-12">Resumen de cliente</span>

    <ng-template tuiAccordionItemContent>
        <form [formGroup]="facade.formGroup">
            <grid [direction]="'row'" [gap]="[8,8]">
                <grid [gap]="[8,16]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr': '1fr 1fr'">
                    <form-input [label]="'Nombre(s)'" [type]="'text'" [placeholder]="'Nombre(s)'"
                        formControlName="FirstName" [required]="true" />
                    <form-input [label]="'Apellido(s)'" [type]="'text'" [placeholder]="'Apellido(s)'"
                        formControlName="LastName" [required]="true" />
                </grid>
                <grid [gap]="[8,16]" [direction]="'column'" [template]="isMobileOrTablet ? '1fr': '1fr 1fr'">
                    <form-input [label]="'Correo electrónico'" [type]="'email'" [placeholder]="'Correo electrónico'"
                        formControlName="Email" [required]="true" />
                    <form-input [label]="'Teléfono'" [type]="'phone'" [placeholder]="'Teléfono'" [countryCode]="'+52'"
                        formControlName="Phone" />
                </grid>
                <grid [padding]="'1rem 0 0 0'">
                    <span class="f-13 f-lh-16 f-06">
                        El correo electrónico es necesario para poder enviar una invitación al usuario y validar su cuenta.
                    </span>
                </grid>
            </grid>
        </form>
    </ng-template>
</tui-accordion-item>