<public-header />

<grid [direction]="'column'" [align]="'center-center'" [width]="'100%'">
    <grid [gap]="[24,24]" [direction]="'row'" [align]="'center-center'" [maxWidth]="'580px'"
        [padding]="'6rem 2rem 6rem'">
        <span class="text-01 f-52 f-lh-54 fw-600 t-center">
            Gestiona tu lavandería o tintorería
            <span class="f-primary">
                con IA
            </span>
        </span>
        <span class="f-18 f-lh-20 fw-400 f-05 t-center">
            <span class="fw-600 f-primary">Wofloo</span>
            es una plataforma con IA que automatiza y optimiza la gestión de tu
            <span class="fw-600 f-02">lavandería o tintorería</span>
            para maximizar su eficiencia.
        </span>
        <grid [direction]="'column'" [align]="'center-center'">
            <grid [gap]="[0,8]" [direction]="'column'" [align]="'center-left'" [width]="'fit-content'">
                <button primary medium>
                    Iniciar prueba
                </button>
                <button secondary medium>
                    Saber más
                </button>
            </grid>
        </grid>
    </grid>
</grid>

<grid [direction]="'column'" [align]="'center-center'" [width]="'100%'" [padding]="'0'">
    <grid [gap]="[24,24]" [direction]="'column'" [template]="'1fr 1fr'" [width]="'100%'" [maxWidth]="'1024px'"
        [padding]="'1.5rem'" class="bg-02 brdr brdr-radius-8">
        <grid [direction]="'column'" [template]="'1fr 1fr'" [width]="'100%'">
            <grid [direction]="'row'" [gap]="[16,16]" [template]="'1fr 150px max-content'">
                <grid [direction]="'row'" [gap]="[16,16]" [maxWidth]="'280px'">
                    <grid [gap]="[16,16]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.smartphone" class="f-02 f-20" />
                        <span class="f-18 fw-500 f-02 t-left">
                            Marketing IA
                        </span>
                    </grid>
                    <span class="f-14 fw-400 f-05 t-left" [maxWidth]="'280px'">
                        <span class="fw-600 f-primary">
                            Personaliza
                        </span>
                        tus campañas de marketing por SMS y email con IA según el
                        <span class="fw-600 f-02">comportamiento</span> de tus clientes.
                    </span>
                </grid>
                <grid>&nbsp;</grid>
                <grid [direction]="'row'" [gap]="[2,0]" [maxWidth]="'250px'">
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.check" class="f-02 f-18" />
                        <span class="f-14 fw-500 f-02 t-left">
                            Segmentación por ticket promedio
                        </span>
                    </grid>
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.check" class="f-02 f-18" />
                        <span class="f-14 fw-500 f-02 t-left">
                            Análisis de recurrencia
                        </span>
                    </grid>
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.check" class="f-02 f-18" />
                        <span class="f-14 fw-500 f-02 t-left">
                            Predicción de ventas
                        </span>
                    </grid>
                    <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.check" class="f-02 f-18" />
                        <span class="f-14 fw-500 f-02 t-left">
                            Patrones de comportamiento
                        </span>
                    </grid>
                </grid>
            </grid>
        </grid>

        <grid [direction]="'column'" [align]="'center-right'" [height]="'100%'">
            <img src="https://cdn-icons-png.flaticon.com/512/826/826118.png" alt="ai" width="300px"
                style="opacity: 0.4; filter: contrast(120%);">
        </grid>

    </grid>

</grid>

<public-footer width="100%" />