<modal [(show)]="show" [closeLabel]="'Cancelar'" [confirmLabel]="buttonLabel" [confirmStyle]="'success'"
    (onConfirm)="applyDiscount()" (onClose)="close()" [disableConfirm]="!canSave">
    <span title>
        Aplicar descuento
    </span>

    <grid body [gap]="[16,16]" [padding]="'1rem 1.5rem 1.5rem'">
        <grid [direction]="'column'" [align]="'center-left'">
            <span class="f-15 fw-400 f-03 f-lh-17">
                Selecciona el tipo de descuento que quieres aplicar al pedido.
            </span>
        </grid>
        <form tuiGroup [orientation]="'horizontal'" class="group" [collapsed]="false" [formGroup]="facade.formDiscount">
            <label tuiBlock tuiBlock="s">
                <input formControlName="discountType" tuiRadio type="radio" (ngModelChange)="resetAmount()"
                    [value]="'amount'" size="s" />
                <grid [direction]="'row'" [gap]="[0,16]">
                    <grid [gap]="[4,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.dollar-sign" class="f-16 f-02" />
                        <span class="f-14 fw-600 f-02 f-lh-17">
                            Monto fijo
                        </span>
                    </grid>
                    <span class="f-13 fw-400 f-06 f-lh-17">
                        Es un monto fijo no mayor al total del pedido.
                    </span>
                </grid>
            </label>
            <label tuiBlock tuiBlock="s">
                <input formControlName="discountType" tuiRadio type="radio" (ngModelChange)="resetAmount()"
                    [value]="'percentage'" size="s" />
                <grid [gap]="[0,8]" [direction]="'row'">
                    <grid [gap]="[4,8]" [direction]="'column'" [align]="'center-left'">
                        <tui-icon icon="@tui.percent" class="f-16 f-02" />
                        <span class="f-14 fw-600 f-02 f-lh-17">
                            Porcentaje
                        </span>
                    </grid>
                    <span class="f-13 fw-400 f-06 f-lh-17">
                        Es un porcentaje del total del pedido.
                    </span>
                </grid>
            </label>
        </form>
        <grid [direction]="'row'" [gap]="[16,16]">
            <form [formGroup]="facade.formDiscount">
                <form-input [label]="placeholder" [type]="'number'" [placeholder]="placeholder" [min]="0"
                    [max]="maxNumber" [step]="stepIncrement" [formControlName]="'discount'"
                    [prefixIcon]="postFixText" />
            </form>
        </grid>
        <grid [direction]="'column'" [align]="'center-left'">
            <span class="f-14 fw-400 f-06 f-lh-17">
                Da clic en el botón
                <label class="fw-500 f-success">
                    {{buttonLabel}}
                </label> y se aplicará al pedido.
            </span>
        </grid>
    </grid>


</modal>