<layout>
    <grid [gap]="[0,24]" [direction]="'row'" [height]="'calc(100vh - 49px)'"
        [template]="'max-content max-content 1fr max-content'">
        <grid [direction]="'column'" [padding]="'1rem'">
            <span class="fw-500 f-01 f-20" padding="0.25rem 0 0 0">
                Productos
            </span>
        </grid>
        <grid [gap]="[8,8]" [direction]="'column'" [template]="'1fr max-content'" height="100%"
            class="wrap brdr-top bg-02" padding="0.5rem 1rem">
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-left'">
                <button outline small flex>
                    <tui-icon icon="@tui.corner-left-up" class="f-16 f-06" />
                    Ordenado por fecha de creación
                </button>
                <button outline small flex>
                    <tui-icon icon="@tui.columns-3" class="f-16 f-06" />
                    Columnas
                </button>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%">
                <button primary small>
                    Crear producto
                </button>
            </grid>
        </grid>
    </grid>



</layout>

<ng-template #contentCustomerTypes>
    <tui-data-list [style.width.rem]="12" [size]="'m'">
        <tui-opt-group>
            <tui-opt-group label="Order Types">
                <button *ngFor="let option of orderTypes" (click)="onSelectFilter(option)" tuiOption type="button"
                    [value]="option">
                    <span class="f-15  f-lh-13"
                        [ngClass]="{'fw-600 f-primary': orderType ===option, 'fw-500 f-02': orderType !== option}">
                        {{ option }}
                    </span>
                </button>
            </tui-opt-group>
        </tui-opt-group>
    </tui-data-list>
</ng-template>