<grid [direction]="'column'" [template]="isMobileOrTablet ? '1fr':'max-content 1fr'">
    <side-menu *ngIf="isMobileOrTablet === false" />
    <grid [gap]="[24,24]" [direction]="'column'" [template]="'1fr'" padding="1rem 1.5rem" width="100%">
        <top-bar width="100%" />
        <grid [gap]="[24,24]" [direction]="'column'" [template]="'1fr'">
            <grid [direction]="'column'" [template]="'1fr max-content'">
                <grid [gap]="[8,16]" [direction]="'column'" [template]="'1fr'" height="100%">
                    <grid [direction]="'column'" [align]="'center-left'" height="100%">
                        <span class="fw-600 f-01"
                            [ngClass]="{'f-24 f-lh-20': isMobileOrTablet, 'f-26 f-lh-24': !isMobileOrTablet}">
                            Products
                        </span>
                    </grid>
                </grid>
                <grid [direction]="'column'" [align]="'center-right'" height="100%">
                    <button [routerLink]="routes.OrderDraft" tuiButton [appearance]="'primary'" [size]="'m'">
                        Create Order
                    </button>
                </grid>
            </grid>
            <grid [gap]="[16,24]" [direction]="'column'" [template]="'max-content 1fr'" height="100%" width="100%">
                <tui-segmented *ngIf="isMobile === false" [size]="'m'" [(activeItemIndex)]="indexTab"
                    (activeItemIndexChange)="onChangeTab($event)" width="fit-content">
                    <button *ngFor="let orderType of orderTypes;let i= index" type="button" minWidth="3.5rem">
                        <span class="f-14 lttr-01" [ngClass]="{'fw-600 f-primary': indexTab === i}">
                            {{orderType}}
                        </span>
                    </button>
                </tui-segmented>

                <grid [direction]="'column'" [align]="'center-right'" height="100%">
                    <form [formGroup]="formGroup" width="150px">
                        <form-input [label]="undefined" [type]="'date'" [size]="isMobile ? 's' : 'm'"
                            [placeholder]="'Choose date'" formControlName="date" [minDate]="null" />
                    </form>
                </grid>
                <grid *ngIf="isMobile === true" [direction]="'column'" [align]="'center-right'" height="100%">
                    <button tuiButton appearance="secondary" tuiChevron type="button" [size]="'m'"
                        [tuiDropdown]="contentCustomerTypes" [tuiDropdownMaxHeight]="500"
                        [(tuiDropdownOpen)]="showFilterOptions">
                        <span class="f-15 fw-600 f-lh-18 t-left">
                            {{orderType}}
                        </span>
                    </button>
                </grid>
            </grid>
        </grid>

    </grid>
</grid>

<ng-template #contentCustomerTypes>
    <tui-data-list [style.width.rem]="12" [size]="'m'">
        <tui-opt-group>
            <tui-opt-group label="Order Types">
                <button *ngFor="let option of orderTypes" (click)="onSelectFilter(option)" tuiOption type="button"
                    [value]="option">
                    <span class="f-15  f-lh-13"
                        [ngClass]="{'fw-600 f-primary': orderType ===option, 'fw-500 f-02': orderType !== option}">
                        {{ option }}
                    </span>
                </button>
            </tui-opt-group>
        </tui-opt-group>
    </tui-data-list>
</ng-template>