.ant-menu {
    background: transparent !important;
}

.ant-menu-inline .ant-menu-item {
    height: 32px !important;
}

.ant-menu-inline .ant-menu-item::after,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after {
    border-right: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    border-radius: 5px !important;

    // gradint use var(--primary) to color-mix(in srgb, var(--primary), black 10%)
    background: #313131 !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active,
.ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
    background: transparent !important;
    color: var(--text-01) !important;
}

.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    background: transparent !important;
    color: var(--text-01) !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover,
.ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow,
.ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon,
.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
    color: var(--text-01) !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
    padding: 0rem 0.35rem !important;
    margin: 0;
}

.ant-menu-submenu:hover {
    .ant-menu-submenu-title {
        .menu-item-icon {
            font-weight: 100 !important;
        }
        .menu-item-icon,
        .menu-item-label {
            color: var(--text-01) !important;
        }
    }
}

.ant-menu-title-content {
    padding: 0.05rem 0 0 0 !important;
}

.ant-menu-item:hover {
    .ant-menu-title-content {

        .menu-item-icon,
        .menu-item-label {
            color: var(--text-01) !important;
        }
    }
}

.ant-menu-item.ant-menu-item-selected {
    .ant-menu-title-content {

        .menu-item-icon {
            color: var(--text-01) !important;
            font-weight: 300 !important;
        }
        .menu-item-label {
            color: var(--text-01) !important;
            font-weight: 500 !important;
        }

    }
}