.ant-modal-content {
    border-radius: 12px !important;
}

.ant-modal-body{
    padding: 1rem !important;
}

.ant-message-notice-content {
    border-radius: 12px !important;
}

tui-root{
    border-image:none !important;
}

tui-dropdown{
    z-index: 1 !important;
}