.ant-tooltip-inner {
    background-color: var(--background-02) !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    line-height: 16px !important;
    color: var(--text-04) !important;
    border-radius: 6px !important;
    padding: 0.75rem 0.75rem !important;
    box-shadow: var(--shadow-04) !important;

    position: relative;
    border: 1.5px solid transparent; 
    background-image:
        linear-gradient(#1f1f1f, #1f1f1f), 
        linear-gradient(90deg,
            #ff0055b4,
            #ff7b00aa,
            #f6ff00b2,
            #00ff849a,
            #00d0ffa2,
            #892fffad,
            #ff00aaad,
            #ff00559d);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 200%;
    animation: rainbowMove 6s linear infinite;
}


@keyframes rainbowMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}