.ant-tooltip-inner {
    background-color: var(--background-02) !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    line-height: 16px !important;
    color: var(--text-04) !important;
    border-radius: 4px !important;
    border: 1px solid var(--border) !important;
    padding: 0.75rem 0.75rem !important;
    box-shadow: var(--shadow-01) !important;
}