<ng-container [ngSwitch]="type">
    <!-- Switch -->
    <grid *ngSwitchCase="'switch'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <ng-container [ngSwitch]="orientation">
            <ng-container *ngSwitchCase="'horizontal'">
                <grid [gap]="[6,8]" [direction]="'column'" [align]="'center-left'">
                    <input [formControl]="valueControl" tuiSwitch type="checkbox" [size]="'s'" />
                    <span *ngIf="label" class="f-12 f-lh-14 fw-500 f-04 w-content pdd-0">
                        {{ label }}
                        <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
                    </span>
                </grid>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <span *ngIf="label" class="f-13 fw-500 f-01 w-content">
                    {{ label }}
                    <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
                </span>
                <input [formControl]="valueControl" tuiSwitch type="checkbox" [size]="'s'" />
            </ng-container>
        </ng-container>
    </grid>

    <!-- Text -->
    <grid *ngSwitchCase="'text'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="outerLabel"
            [tuiTextfieldCleaner]="clearable" class="{{hadError ? 't-input_error' : ''}}">
            <input [formControl]="valueControl" type="text" [placeholder]="placeholder" tuiTextfield />
        </tui-textfield>
    </grid>

    <!-- Email -->
    <grid *ngSwitchCase="'email'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="outerLabel"
            [tuiTextfieldCleaner]="clearable" class="{{hadError ? 't-input_error' : ''}}">
            <input [formControl]="valueControl" type="text" [placeholder]="placeholder" tuiTextfield />
        </tui-textfield>
    </grid>

    <!-- Phone -->
    <grid *ngSwitchCase="'phone'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="clearable"
            class="{{hadError ? 't-input_error' : ''}}">
            <input [formControl]="valueControl" type="text" autocomplete="tel" [mask]="countryCode + '### ###-##-##'"
                [placeholder]="placeholder" tuiInputPhone />
        </tui-textfield>
    </grid>

    <!-- Password -->
    <grid *ngSwitchCase="'password'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="clearable"
            class="{{hadError ? 't-input_error' : ''}}">
            <input [placeholder]="placeholder" tuiTextfield type="password" [formControl]="valueControl" />
            <tui-icon tuiPassword icon="@tui.eye" />
        </tui-textfield>
    </grid>

    <!-- Currency -->
    <grid *ngSwitchCase="'currency'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield iconStart="@tui.dollar-sign" [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true"
            [tuiTextfieldCleaner]="clearable" class="{{hadError ? 't-input_error' : ''}}">
            <input tuiInputNumber [min]="min" [formControl]="valueControl" [tuiNumberFormat]="{precision: 2}" />
        </tui-textfield>
    </grid>

    <!-- Textarea -->
    <grid *ngSwitchCase="'textarea'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldLabelOutside]="outerLabel" [tuiTextfieldSize]="size">
            <textarea [placeholder]="placeholder" tuiTextarea [formControl]="valueControl" [min]="maxRows"
                [max]="maxRows"></textarea>
        </tui-textfield>
    </grid>

    <!-- Number -->
    <grid *ngSwitchCase="'number'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield iconStart="@tui.{{prefixIcon}}" [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true"
            [tuiTextfieldCleaner]="clearable" class="{{hadError ? 't-input_error' : ''}}">
            <input tuiInputNumber [min]="min" [max]="max" [step]="step" [postfix]="postFix"
                [formControl]="valueControl" />
        </tui-textfield>
    </grid>

    <!-- Decimal -->
    <grid *ngSwitchCase="'decimal'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield iconStart="@tui.hash" [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true"
            [tuiTextfieldCleaner]="clearable" class="{{hadError ? 't-input_error' : ''}}">
            <input tuiInputNumber [min]="min" [max]="max" [step]="0.1" [postfix]="postFix" [quantum]="0.01"
                [formControl]="valueControl" />
        </tui-textfield>
    </grid>

    <!-- Select -->
    <grid *ngSwitchCase="'select'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield tuiChevron [tuiTextfieldSize]="size" [tuiTextfieldCleaner]="clearable"
            [content]="stringifyContent" [stringify]="stringify" [identityMatcher]="identityMatcher"
            class="{{hadError ? 't-input_error' : ''}}">
            <input *ngIf="(options || []).length > 0" tuiSelect [placeholder]="placeholder"
                [formControl]="valueControl" />
            <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="options" />
        </tui-textfield>
    </grid>

    <!-- Date -->
    <grid *ngSwitchCase="'date'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="clearable"
            class="{{hadError ? 't-input_error' : ''}}">
            <input tuiInputDate [placeholder]="placeholder" [min]="minDate" [formControl]="valueControl" />
            <tui-calendar *tuiTextfieldDropdown />
        </tui-textfield>
    </grid>

    <!-- Date Range -->
    <grid *ngSwitchCase="'date-range'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="clearable"
            class="{{hadError ? 't-input_error' : ''}}">
            <input tuiInputDateRange [placeholder]="placeholder" [min]="minDate" [formControl]="valueControl" />
            <tui-calendar-range *tuiTextfieldDropdown />
        </tui-textfield>
    </grid>

    <!-- Time -->
    <grid *ngSwitchCase="'time'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="clearable"
            class="{{hadError ? 't-input_error' : ''}}">
            <input tuiInputTime [placeholder]="placeholder" [formControl]="valueControl" />
        </tui-textfield>
    </grid>

    <!-- Search -->
    <grid *ngSwitchCase="'search'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <tui-textfield iconStart="@tui.search" [tuiTextfieldSize]="size" [tuiTextfieldLabelOutside]="true"
            [tuiTextfieldCleaner]="clearable" class="{{hadError ? 't-input_error' : ''}}">
            <input [attr.placeholder]="placeholder" tuiTextfield [formControl]="valueControl"
                (input)="onInputSearch($event.target)" />
        </tui-textfield>
    </grid>


    <!-- Checkbox -->
    <grid *ngSwitchCase="'checkbox'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : 'fr'">
        <label>
            <grid [gap]="[6, 8]" [direction]="'column'" [align]="'center-left'">
                <input size="s" tuiCheckbox type="checkbox" [formControl]="valueControl" />
                <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
                    {{ label }}
                    <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
                </span>
            </grid>
        </label>
    </grid>

    <!-- Date Range Dropdown -->
    <grid *ngSwitchCase="'date-range-dropdown'" [gap]="[6, 16]" [direction]="'column'"
        [template]="orientation === 'horizontal' ? 'max-content 1fr' : '1fr'">
        <span *ngIf="label" class="f-13 fw-500 f-01" class="w-content">
            {{ label }}
            <span *ngIf="required" class="f-13 fw-500 f-error">*</span>
        </span>
        <input-date-dropdown [formControl]="valueControl" />
    </grid>
</ng-container>