<tui-accordion-item class="container" [open]="true" [size]="'s'" [open]="!collapsed">
    <span class="f-14 fw-500 f-05 f-lh-12">Cliente</span>
    <ng-template tuiAccordionItemContent>
        <grid *ngIf="hadCustomer === false" [gap]="[16,16]" [direction]="'column'" [template]="'1fr'">
            <grid [gap]="[8,8]" [direction]="'row'" padding="0.5rem 0 0" height="100%" [width]="'100%'">
                <span class="f-13 fw-500 f-05 f-lh-17">
                    Aún no has asignado un cliente, da click en el botón de buscar o crear.
                </span>
            </grid>
            <grid [gap]="[8,8]" [direction]="'column'" [align]="'center-right'" height="100%" padding="1rem 0 0 0"
                class="border-top-02">
                <button secondary small (click)="facade.openCustomerModal()">
                    Buscar cliente
                </button>
            </grid>
        </grid>
        <grid *ngIf="hadCustomer === true" [direction]="'row'" [gap]="[16,16]" [padding]="'0.5rem 0 0'">

            <grid [gap]="[0,8]" [direction]="'row'">
                <grid [direction]="'column'" [template]="'1fr max-content'">
                    <span class="f-14 fw-600 f-01 f-lh-14">
                        {{customer?.FullName || '-'}}
                    </span>
                    <status-badge [label]="customerStatus" [size]="'m'" [appearance]="customerStatusAppearance" />
                </grid>
                <span class="f-13 f-lh-14 fw-400 f-06">
                    <span class="fw-600 f-info">
                        {{customer?.TotalOrders || 0 | numeralFormat: '0,0'}} pedidos
                    </span>
                    hasta la fecha.
                </span>
            </grid>
            <grid [gap]="[8,8]" [direction]="'row'">
                <span class="f-14 fw-400 f-07 f-lh-14">
                    Teléfono:
                </span>
                <tui-copy>
                    <span class="f-14 fw-400 f-05 f-lh-14">
                        {{customer?.Phone}}
                    </span>
                </tui-copy>

                <span class="f-14 fw-400 f-07 f-lh-14">
                    Correo electrónico:
                </span>
                <tui-copy>
                    <span class="f-14 fw-400 f-05 f-lh-14">
                        {{customer?.Email}}
                    </span>
                </tui-copy>
            </grid>

            <grid [gap]="[4,8]" [direction]="'row'">
                <span class="f-14 fw-400 f-07 f-lh-14">
                    Dirección:
                </span>
                <span class="f-13 fw-400 f-05 f-lh-17">
                    {{customer?.Address}}
                </span>

            </grid>
            <grid [direction]="'column'" [align]="'center-right'" height="100%">
                <button *ngIf="OrdersDomain.canChangeCustomer(order)" secondary small flex
                    (click)="facade.openCustomerModal()">
                    Cambiar cliente
                </button>
            </grid>
        </grid>

    </ng-template>
</tui-accordion-item>


<!-- Modal -->
<orders-search-customer [(show)]="facade.showCustomerModal" (onConfirm)="onSelectCustomer($event)" />