
.logo {
    width: 100%;
}

span,
img {
    z-index: 3;
}

.back-top {
    height: 450px;
    background-image: url('/assets/PAGINA1/PAGINA1/mip_banner_principal_inicio_fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    background-position: center;
}



@media screen and (max-width: 768px) {
    .logo {
        width: 100%;
        display: block;
        position: relative;
    }

    .back-top {
        height: 300px;
    }

    //imagen con diseño obscuro sobrepuesta en back-top
    .back-top::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

}