<grid [gap]="[16,16]" [direction]="'column'" [template]="'1fr max-content'" [height]="'80px'" [width]="'100%'"
    class="bg-black">
    <grid [direction]="'column'" [align]="'center-left'" [padding]="'1rem 0rem 1rem 2rem'" [height]="'-webkit-fill-available'">
        <span class="f-13 f-white f-wrap">
            Copyright 2024 MIP - Todos los derechos reservados.
        </span>
    </grid>
    <grid [direction]="'column'" [align]="'center-right'" [padding]="'0 2rem 0 0'" [height]="'-webkit-fill-available'">
        <img src="/assets/footer_logo.svg" alt="logo" class="h-40">
    </grid>
</grid>