<tui-accordion-item class="container" [open]="true" [size]="'s'">
    <span class="f-14 fw-500 f-06 f-lh-12">Notas</span>
    <ng-template tuiAccordionItemContent>
        <grid [direction]="'row'" [gap]="[8,16]">
            <span class="f-14 fw-500 f-02 f-lh-16">
                Notas de cliente
            </span>
            <form [formGroup]="facade.formGroup">
                <form-input [label]="''" [type]="'textarea'" [placeholder]="'Escribe una nota'" [size]="'s'"
                    formControlName="notes" />
            </form>
            <span class="f-13 fw-400 f-07 f-lh-15">
                Si algo importante que debes mencionar, acerca del cliente, escríbelo aquí.
            </span>
        </grid>
    </ng-template>
</tui-accordion-item>