<tui-accordion-item class="container" [open]="true" [size]="'s'">
    <span class="f-14 fw-500 f-05 f-lh-12">Notas</span>

    <ng-template tuiAccordionItemContent>

        <grid [direction]="'row'" [gap]="[16,16]">
            <form [formGroup]="facade.formGroup">
                <form-input [label]="''" [type]="'textarea'" [placeholder]="'Menciona algo importante de este pedido'"
                    formControlName="notes" />
            </form>
            <span class="f-14 fw-400 f-06 f-lh-16">
                Indica algo importante sobre el pedido para que no se te olvide.
            </span>
        </grid>
    </ng-template>
</tui-accordion-item>